
.blogposts--count-3 {
	.blogposts--footer {
		display: none !important;
	}

	.article-list-item {
		a {
			height: 400px !important;
		}
	}

	.article--excerpt-content {
		display: flex;
		flex-direction: column;
		padding: 3em 3em 0 !important;
		padding-top: 20px !important;
		-webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
		border: 0 !important;

		h2 {
			font-size: 3.6rem !important;
			color: $darkBlue !important;
			text-align: left;
		}

		.article--excerpt-readmore {
			display: none;
		}
	}

	.article--excerpt-meta {
		order: 3;
		text-align: left;

		span {
			font-size: 2.2rem !important;
			color: $darkBlue !important;
		}
	}
}