

section.blogposts, .blog-articles {
	
	.article-item {
		.artice-image-block {
			img {
				height: 45vh;
				width: 100%;
			}
		}

		.article-content-wrap {
			padding: 30px 10px 0 0;
		}
	}

	.image-block {
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

.article-template {
	.article-template__social-sharing {
		margin-bottom: 3rem;
	}
}



@media #{$tablet} {
	section.blogposts, .blog-articles {

		.grid-cols--1 {
			.article-item {
				width: 50%;
			}
		}

		.article-item {

			.artice-image-block {
				overflow: hidden;

				img {
					height: 350px;
				}
			}
		}
	}

}

@media #{$desktop} {

	section.blogposts, .blog-articles {

		.grid-cols--1 {
			.article-item {
				max-width: 25%;
			}
		}

		.article-item {

			.artice-image-block {
				img {
					height: 400px;
				}
			}
		}
	}
}
