.newsletter-submit {
    width: auto;
}

// .newsletter-submit button, .slideshow-slide__button, .button-primary, .btn-outline-dark, .product-form--atc-button {
.button, .shopify-payment-button__button {   
    background-color: transparent;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .3em 1em;
    @include transition;
    margin-top: 30px;
    @include fitContentWidth;
    border-radius: 3px;

    &::after {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        background-color: transparent ;
    }

    &:not(.small)::after {
        margin-left: 15px;
        margin-top: 5px;
        height: 18px;
        width: 20px;
    }

}

.product-form__submit {
    cursor: pointer;
}

.button.small {
    &::after {
        margin-left: 12px;
        height: 14px;
        width: 16px;
    }
}

// html body {
//     .outline-light-white-txt, .slideshow-slide__button, .button-primary {
//         border: 2px solid $lightBlue;
//         color: $whiteColor;
    
//         &::after {
//             background-image: url('arrows-lightblue.png');
//         }
    
//         &:hover {
//             border: 2px solid $whiteColor !important;
//             background-color: $whiteColor !important;
//             color: $lightBlue !important;
//         }
//     }
// }

.button--primary {
    border: 2px solid $lightBlue;
    color: $whiteColor;

    &::after {
        background-image: url('arrows-lightblue.png');
    }

    &:hover {
        border: 2px solid $whiteColor !important;
        background-color: $whiteColor !important;
        color: $lightBlue !important;
    }
}

// .button--secondary {
//     border: 2px solid $lightBlue;
//     color: $whiteColor;

//     &::after {
//         background-image: url('arrows-lightblue.png');
//     }

//     &:hover {
//         border: 2px solid $whiteColor !important;
//         background-color: $whiteColor !important;
//         color: $lightBlue !important;
//     }
// }

.button--secondary, .shopify-payment-button__button {
    border: 2px solid $darkBlue !important;
    color: $darkBlue !important;

    &::after {
        background-image: url('arrows-darkblue.png');
    }

    &:hover {
        background-color: $darkBlue !important;
        color: $whiteColor!important;


        &::after {
            background-image: url('arrows-white.png');
        }
    }
}


.button--tertiary {
    border: 2px solid $lightBlue;
    color: $darkBlue !important;
    display: flex;
    align-items: center;

    span {
        color: $darkBlue !important;
    }

    &::after {
        background-image: url('arrows-lightblue.png');
    }

    &:hover {
        border: 2px solid $lightBlue !important;
        background-color: $lightBlue !important;
        color: $whiteColor !important;

        span {
            color: $whiteColor !important;
        }

        &::after {
            background-image: url('arrows-white.png');
        }
    }
}

.live-search-button {
    background-color: $black;
    border: 2px solid  $lightBlue;

    circle {
        stroke: $lightBlue !important;
    }

    path {
        stroke: $lightBlue !important;
    }

    &:hover {
        background-color: $lightBlue;
        border: 2px solid $lightBlue;

        circle {
            stroke: $black !important;
        }

        path {
            stroke: $black !important;
        }
    }

}

// .button-primary:not(.slideshow .button-primary) {

// }


// @media #{$tabletMax} {
//     footer {
//         .button--primary {
//             margin-top: 0 !important;
//         }
//     }
// }

