.newsletter-submit {
    width: auto;
}

.newsletter-submit button, .slideshow-slide__button, .button-primary, .btn-outline-dark {
    background-color: transparent !important;
    font-weight: 700 !important;
    font-size: 2.2rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .3em 1em !important;
    @include transition;
    margin-top: 30px !important;
    width: fit-content !important;
    width: -moz-fit-content !important;
    width: intrinsic !important;
    width: -moz-max-content !important;
    width: -webkit-max-content !important;
    border-radius: 3px;
    &::before {
        display: none !important;
    }

    &::after {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
/*         margin-left: 9px;
        height: 14px;
        width: 18px; */
          margin-left: 15px;
          margin-top: 5px;
         height: 18px;
          width: 20px;
        background-color: transparent !important;
    }

    &:hover {
        border: 2px solid $whiteColor !important;
        background-color: $whiteColor !important;
        color: $lightBlue !important;
    }
}

.newsletter-submit button, .slideshow-slide__button, .button-primary {
    border: 2px solid $lightBlue;
    color: $whiteColor;

    &::after {
        background-image: url('arrows-lightblue.png');
    }

    &:hover {
        border: 2px solid $whiteColor !important;
        background-color: $whiteColor !important;
        color: $lightBlue !important;
    }
}

.btn-outline-dark {
    border: 2px solid $darkBlue !important;
    color: $darkBlue !important;

    &::after {
        background-image: url('arrows-darkblue.png');
    }

    &:hover {
        border: 2px solid $lightBlue !important;
        background-color: $lightBlue !important;
        color: $whiteColor!important;

        &::after {
            background-image: url('arrows-white.png');
        }
    }
}

.live-search-button {
    background-color: $black;
    border: 2px solid  $lightBlue;

    circle {
        stroke: $lightBlue !important;
    }

    path {
        stroke: $lightBlue !important;
    }

    &:hover {
        background-color: $lightBlue;
        border: 2px solid $lightBlue;

        circle {
            stroke: $black !important;
        }

        path {
            stroke: $black !important;
        }
    }

}

// .button-primary:not(.slideshow .button-primary) {

// }

