.banner-section {
    .banner-inner-wrap {
        position: relative;
    }
    
    .original-img-height {
        .image-block {
            position: relative;
        }
        .slide-content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }    
}


.swiper-container  {

    .swiper-slide {
        height: 100% !important;

    }

    .button {
        margin-top: 50px;
    }

}

    [class*="swiper-button"] {
        z-index: 1;
    }

.banner-section, .carousel-section {
    min-height: 0;

    .banner-inner-wrap, .carousel-inner-wrap {
        height: 100%;
    }

    .slide-inner-wrap {
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;

        &.horizontal-wrap {
            padding-left: 30px;
            padding-right: 30px;
        }
    }


    .swiper-slide  {
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .slide-content-inner {
        @include fitContentHeight;
        width: 100%;
    }

    .slide-content {
        z-index: 1;
    }

}

.banner-section, .carousel-section {

    .banner-inner-wrap {
        position: relative;
    }

    .carousel-text-middle {
            .image-block {
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
        
                img {
                    height: 100%;
                    width: 100%;
                }
            }

        .carousel-two-columns {
            height: 100%;

            [class*="grid-cols--"] {
                align-items: center;
                height: 100%;
            }
            
            img {
                left: 0;
                top: 0;
            }
        }
        
    }
        .original-img-height {
            .image-block {
                position: relative;
            }
            .slide-content {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }    
}

.carousel-two-columns {
    height: 100%;
}

[class*="carousel-grid-cols-"] {
    grid-auto-columns: 100%;
    grid-auto-flow: column;
}

.carousel-small-grid-cols--3 {
    grid-auto-columns: 33.3%;
    grid-auto-flow: column;
}

/****  swiper buttons ****/

.carousel-section-inner {
    position: relative;

    .video-link {
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        right: 7.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 85%;
        height: 100%;
        @include transition;

        .icon-play-item {
            margin-left: 30px;
            margin-bottom: 70px;
        }
    }


}

.swiper-button-prev, .swiper-button-next {
    display: block;
    &::after {
        content: '';
        font-family: none;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        width: 30px;
        background-image: url(white-arrow.png);
    }

    &.blue {
        &::after {
            background-image: url(darkblue-arrow.png);
        }
    }

    &.white {
        &::after {
            background-image: url(white-arrow.png);
        }
    }

    &.small {
        height: 20px;
        width: 15px;
    }

    
    &.large {
        &::after {
            height: 40px;
            width: 30px;
        }
    }
}

.swiper-button-prev {
    left: 10px;
    &::after {
        transform: rotate(-180deg);
    }
}

.swiper-button-next {
    right: 10px;
}


@media #{$mobile} {
    html body .carousel-text-middle {
        .slide-content,  .collection-hero__excerpt {
            padding-left: 10vw !important;
            padding-right: 10vw !important;
        }

    }
}

@media #{$tabletMax} {
    .banner-section, .carousel-section {

        .carousel-text-middle {
    
            .carousel-two-columns {
                display: flex;
                align-items: center;

                img {
                    object-fit: cover;
                }
            }
            
        }
    
    
    }
}


@media #{$tablet} {
    .carousel-grid-cols--2 {
        grid-auto-columns: 50%;
    }

    .carousel-grid-cols--3 {
        grid-auto-columns: 50%;
    }

    .carousel-grid-cols--4 {
        grid-auto-columns: 50%;
    }

    .carousel-grid-cols--5 {
        grid-auto-columns: 33.3%;
    }

    .carousel-grid-cols--2.grid-gap-small {
        grid-auto-columns: calc((100% - 20px) / 2);
    }

    .carousel-grid-cols--2.grid-gap-medium {
        grid-auto-columns: calc((100% - 40px) / 2);
    }

    .carousel-grid-cols--2.grid-gap-large {
        grid-auto-columns: calc((100% - 90px) / 2);
    }

    .carousel-grid-cols--3.grid-gap-small, .carousel-grid-cols--4.grid-gap-small {
        grid-auto-columns: calc((100% - 20px) / 2);
    }

    .carousel-grid-cols--3.grid-gap-medium, .carousel-grid-cols--4.grid-gap-medium {
        grid-auto-columns: calc((100% - 40px) / 2);
    }

    .carousel-grid-cols--3.grid-gap-large, .carousel-grid-cols--4.grid-gap-large {
        grid-auto-columns: calc((100% - 90px) / 2);
    }

    .carousel-grid-cols--5.grid-gap-small {
        grid-auto-columns: calc((100% - 40px) / 3);
    }

    .carousel-grid-cols--5.grid-gap-medium {
        grid-auto-columns: calc((100% - 80px) / 3);
    }

    .carousel-grid-cols--5.grid-gap-large {
        grid-auto-columns: calc((100% - 180px) / 3);
    }

    .swiper-button-prev {
        left: 0;
    }
    
    .swiper-button-next {
        right: 0;
    }


    .carousel-section-inner {
    
        .video-link {

            .icon-play-item {
                margin-bottom: 130px;
            }
        }
    }



}

@media #{$desktopMax} {
    .carousel-text-middle {
        
        .slide-content {
            padding-left: 4vw !important;
            padding-right: 4vw !important;
        }

        .collection-hero__excerpt {
            padding-left: 4vw !important;
        }
    }

}


@media #{$desktop} {
    .carousel-grid-cols--2 {
        grid-auto-columns: 50%;
    }

    .carousel-grid-cols--3 {
        grid-auto-columns: 33.3%;
    }

    .carousel-grid-cols--4 {
        grid-auto-columns: 25%;
    }

    .carousel-grid-cols--5 {
        grid-auto-columns: 20%;
    }

    .carousel-grid-cols--2.grid-gap-small {
        grid-auto-columns: calc((100% - 20px) / 2);
    }

    .carousel-grid-cols--2.grid-gap-medium {
        grid-auto-columns: calc((100% - 40px) / 2);
    }

    .carousel-grid-cols--2.grid-gap-large {
        grid-auto-columns: calc((100% - 90px) / 2);
    }

    
    .carousel-grid-cols--3.grid-gap-small {
        grid-auto-columns: calc((100% - 40px) / 3);
    }

    .carousel-grid-cols--3.grid-gap-medium {
        grid-auto-columns: calc((100% - 80px) / 3);
    }

    .carousel-grid-cols--3.grid-gap-large {
        grid-auto-columns: calc((100% - 180px) / 3);
    }

    .carousel-grid-cols--4.grid-gap-small {
        grid-auto-columns: calc((100% - 60px) / 4);
    }

    .carousel-grid-cols--4.grid-gap-medium {
        grid-auto-columns: calc((100% - 120px) / 4);
    }

    .carousel-grid-cols--4.grid-gap-large {
        grid-auto-columns: calc((100% - 270px) / 4);
    }


    .carousel-grid-cols--5.grid-gap-small {
        grid-auto-columns: calc((100% - 80px) / 5);
    }

    .carousel-grid-cols--5.grid-gap-medium {
        grid-auto-columns: calc((100% - 160px) / 5);
    }

    .carousel-grid-cols--5.grid-gap-large {
        grid-auto-columns: calc((100% - 450px) / 5);
    }

    .swiper-button-prev {
        left: 0;
    }
    
    .swiper-button-next {
        right: 0;
    }

    .carousel-section-inner {
        .video-link {
            right: 10%;
            width: 300px;
            height: 300px;
            justify-content: center;
            align-items: center;
            
            .icon-play-item {
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }

    .carousel-section {
        .carousel-text-middle {
            .carousel-two-columns {

                .collection-hero__text-wrapper {
                    position: relative;
                    .collection-hero__excerpt {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .image-block {
                    position: relative;
                    z-index: 0;
                    max-height: 400px;

                }
            }
        }
    }
}

@media (min-width: 1300px) {

    .carousel-section-inner {
        .slide-link {
            right: 20%;
        }
    }
}

@media (min-width: 1450px) {
    .swiper-button-prev {
        left: 0px;
    }
    
    .swiper-button-next {
        right: 0px;
    }

    .carousel-section-inner {
        .video-link {
            right: 20%;
        }
    }

}

@media (min-width: 1480px) {
    .swiper-button-prev {
        left: 0px;
    }
    
    .swiper-button-next {
        right: 0px;
    }

}


@media (min-width: 1600px) {
    .swiper-button-prev {
        left: 2vw;
    }
    
    .swiper-button-next {
        right: 2vw;
    }

    .product-gallery-wrap {
        .swiper-button-prev {
            left: 0;
        }
        
        .swiper-button-next {
            right: 0;
        }
    }
}