html {
	scroll-behavior: smooth;

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

body {
	overflow-x: hidden;
}

.horizontal-wrap {
	@include sideWrap;
}

.n-gap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

//small
.sm-v_gap {
	@include verticalWrap-tiny;
}


//small top
.sm-t-v_gap {
	@include verticalWrap-tiny-top;
}


//small bt
.sm-bt-v_gap {
	@include verticalWrap-tiny-bottom;
}


//medium
.m-v_gap{
	@include verticalWrap;
}


//medium top
.m-t-v_gap {
	@include verticalWrap;
}


//medium bt
.m-bt-v_gap {
	@include verticalWrap-bottom;
}


//large
.l-v_gap {
	@include verticalWrap-large;
}

//large top
.l-t-v_gap {
	@include verticalWrap-large-top;
}


//large bt
.l-bt-v_gap {
	@include verticalWrap-large-bottom;
}

//large
.x-l-v_gap {
	@include verticalWrap-xlarge;
}


//large top
.x-l-t-v_gap {
	@include verticalWrap-xlarge-top;
}


//extra large bt
.x-bt-v_gap {
	@include verticalWrap-xlarge-bottom;
}


.show-overlay, .image-overlay {
	background: $overlayBlack !important;
 
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: linear-gradient(transparent, $black);
		opacity: .5;
		top: 0;
		left: 0;
	}
}

.item-full-height {
	height: 100%;
	img {
		height: 100%;
	}
}

.item-full-max {
	max-height: 100% !important;
}


.item-full-width {
	width: 100%;
	img {
		width: 100%;
	}
}

.image-position-center {
	background-position: center;
    img {
        object-position: center;
    }
}

.image-position-top-left {
	background-position: top left;
    img {
        object-position: top left;
    }
}

.image-position-top-center {
	background-position: top center;
    img {
        object-position: top center;
    }
}

.image-position-center-right {
	background-position: top right;
    img {
        object-position: top right;
    }
}

.image-position-center-left {
	background-position: bottom left;
    img {
        object-position: bottom left;
    }
}

.image-position-top-right {
	background-position: top right;
    img {
        object-position: top right;
    }
}

.image-position-bottom-left {
	background-position: bottom left;
    img {
        object-position: bottom left;
    }
}

.image-position-bottom-center {
	background-position: bottom center;
    img {
        object-position: bottom center;
    }
}

.image-position-bottom-right {
	background-position: bottom right;
    img {
        object-position: bottom right;
    }
}

// .grid-cols--2, .grid-cols--3, .grid-cols--4, .grid-cols--5, .grid-cols--multiple {
[class*="grid-cols-"]:not(.grid-gap-large-equal):not(.grid-cols--30-30-30), [class*="grid-row-cols"]:not(.grid-gap-large-equal):not(.rid-cols--30-30-30) {
	display: grid !important;
	display: -ms-grid !important;
	display: -moz-grid !important;
	display: -moz-grid-group !important;
	display: -moz-grid-line !important;
	display: -ms-inline-grid !important;
	display: -moz-inline-grid !important;
}

.grid-gap-large-equal {

	.grid-section-item {
		margin-bottom: 20px;
	}

}

.arrow-decoration-list-item {
	padding-left: 22px;
	line-height: 1.1em;
	font-weight: 700;
	position: relative;

	&::before {
		content: "";
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: inline-block;
		left: 0;
		height: 15px;
		width: 15px;
		position: absolute;
		top: 7px;
	}
	&.arrow-darkblue {
			&::before {
				background-image: url(arrows-darkblue.png);
			}
	}   

	&.arrow-lightblue {
			&::before {
				background-image: url(arrows-lightblue.png);
			}
	}   

	
	&.arrow-white {
			&::before {
				background-image: url(arrows-white.png);
			}
	}  
}


.arrow-decoration-list {
	padding-left: 22px;
	li {
		font-size: 2.6rem;
		line-height: 1.1em;
		font-weight: 700;
		position: relative;
		margin-bottom: 35px;

		&::before {
			content: "";
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			display: inline-block;
			left: -20px;
			height: 15px;
			width: 15px;
			position: absolute;
			top: 9px;
		}
	} 
	&.arrow-darkblue {
		li {
			&::before {
				background-image: url(arrows-darkblue.png);
			}
		}

	}   

	&.arrow-lightblue {
		li {
			&::before {
				background-image: url(arrows-lightblue.png);
			}
		}
	}   

	
	&.arrow-white {
		li {
			&::before {
				background-image: url(arrows-white.png);
			}
		}
	}  
}

.grid-cols--5 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols--3 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols--4 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols--2 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols--50-50, 
.grid-cols--60-40, 
.grid-cols--40-60, 
.grid-cols--2_3-1_3,
.grid-cols--1_3-2_3,
.grid-cols--1_4-3_4,
.grid-cols--3_4-1_4,
.grid-cols--1_5-4_5,
.grid-cols--4_5-1_5,
.grid-cols--2_5-3_5,
.grid-cols--3_5-2_5 {
	grid-template-columns: minmax(0, 1fr);
}

.grid-cols--30-30-30, .grid-cols--30-40-30, .grid-cols--30-30-40, .grid-cols--20-20-60, .grid-cols--60-20-20 {
	display: flex !important;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-grow: 1;

	.grid-section-item, .image-block   {
		overflow: visible;
	}
}


.grid-cols--30-30-30 {
	& > * {
		width: 48%;
	}
}

.grid-cols--30-40-30 {
	& > * {
		width: 100%;
	}
}

.grid-cols--30-30-40 {
	& > *:not(:last-child) {
		width: 48%;
	}

	& > *:last-child {
		width: 100%;
	}
}

.grid-cols--20-20-60 {
	& > *:not(:last-child) {
		width: 48%;
	}

	& > *:last-child {
		width: 100%;
	}
}

.grid-cols--20-60-20 {
	& > *:not(:nth-child(2)) {
		width: 48%;
	}

	& > *:nth-child(2) {
		width: 100%;
	}
}

.grid-cols--60-20-20{
	& > *:not(:first-child) {
		width: 48%;
	}

	& > *:first-child {
		width: 100%;
	}
}





// {
// 	grid-template-columns: repeat(2, minmax(0, 1fr))
// }

// .grid-cols--30-40-30 {
// 	grid-template-columns: minmax(0, 1fr)
// }

// .grid-cols--30-30-40 {
// 	grid-template-columns: repeat(2, minmax(0, 1fr)) minmax(0, 1fr);
// }





.grid-gap-small {
	grid-gap: 20px;
	gap: 20px;
}

.grid-gap-medium {
	grid-gap: 20px;
	gap: 20px;
}

.grid-gap-large {
	grid-gap: 30px;
	gap: 30px;
}

.txt-position-left {
	text-align: left;
}

.txt-position-right {
	text-align: left;
}

.txt-position-center {
	text-align: center;
}


.img-cover {
    img {
        object-fit: cover;
    }
	background-size: cover;
	background-position: center;

}

.img-original {
    img {
        object-fit: none;
    }
	background-size: none;
	background-position: center;
}

.img-contain {
    img {
        object-fit: contain;
    }
	background-size: contain;
	background-position: center;
}

.img-fill {
    img {
        object-fit: fill;
    }
	background-size: fill;
	background-position: center;
}

.img-small {
    img {
        width: 100px !important;
		height: auto !important;
    }
	background-size: 100px auto;
}

@media (min-width: 500px) {
	.grid-gap-large-equal {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.grid-section-item  {
			max-width: 40%;
			overflow: visible !important;
		}

		.image-block {
			position: relative !important;
			overflow: visible !important;
		}


		// .grid-section-item:not(:last-child) {
		// 	margin-bottom: 20px;
		// }
	
	}
}

@media (min-width: 700px) {

	.grid-gap-large-equal {
		align-items: center;

		.grid-section-item  {
			max-width: 200px !important;

			.grid-item-inner-wrap {
				justify-content: center;
				align-items: center;
				display: flex;
				align-content: center;
			}
		}
	}
}

@media (min-width: 830px) {

	// .grid-gap-large-equal {

	// 	.grid-section-item  {
	// 		max-width: 200px;
	// 	}
	// }
}

@media #{$tabletMax} and (min-width: 768px) {
    .has-block-below {
        padding-bottom: 30px;
    }
    
    .fit-content-container {
        .has-block-below {
            padding-bottom: 70px;
        }
    }
}

@media #{$mobile} {
	.img-cover {
		background-position: center bottom;
	}
	
	.img-original {
		background-position: center bottom;
	}
	
	.img-contain {
		background-position: center bottom;
	}
	
	.img-fill {
		background-position: center bottom;
	}
	
	.img-small {
		background-position: center bottom;
	}
}

///////////
.img-cover {
	background-repeat: no-repeat;
    background-size: cover;
}

.img-original {
    background-repeat: no-repeat;
}

.img-contain {
	background-repeat: no-repeat;
    background-size: contain;
}

.img-fill {
    background-repeat: no-repeat;
    background-size: fill;
}

.small-container {
	height: 200px;

}

.medium-container {
	height: 460px;
}

.intermediate-container {
	height: 65vh;
	min-height: 400px;
}


.large-container {
	height: 70vh;
	min-height: 500px;
	img {

	}

}


.extra-large-container {
	height: 90vh;

}

.fit-screen-container {
	height: 100vh;

}


.fit-content-container {
	@include fitContentHeight;

	.slide-content {
		@include fitContentHeight;
	}
}




@media #{$mobile} {
	.hide-on-mobile {
		display: none !important;
	}
}


@media #{$tablet} {

	.has-block-below {
		padding-bottom: 140px;
	}
	.small-container {
		height: 200px;

		.flickity-slider {
			height: 200px;
		}
	}
	
	.medium-container {
		height: 460px;

		.flickity-slider {
			height: 460px;
		}
	}

	.intermediate-container {
		height: 640px;
	}
	
	.large-container {
		height: 70vh;

		.flickity-slider {
			height: 70vh;
			min-height: 500px;
		}
	}

	
	.extra-large-container {
		height: 85vh;

		.flickity-slider {
			height: 85vh;
			min-height: 700px;
		}
	}

	.grid-cols--2 {
        grid-template-columns: repeat(2, 1fr);
    }

	.grid-cols--3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


	.grid-cols--4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


	.grid-cols--5 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.grid-gap-medium {
		grid-gap: 40px;
		gap: 40px;
	}
	
	.grid-gap-large {
		grid-gap: 90px;
		gap: 90px;
	}
	
	
}

.txt-v-position-center {
	justify-content: center;
}

.txt-v-position-top {
	justify-content: flex-start;
}

.txt-v-position-bottom {
	justify-content: flex-end;
}


.slider-additional-gap .slideshow-slide__content {
	padding-bottom: calc(1.5rem + 140px) !important; 
	padding-bottom: -webkit-calc(1.5rem + 140px) !important; 

	@media #{$desktop} {

		& {
			padding-bottom: calc(3rem + 140px) !important; 
			padding-bottom: -webkit-calc(3rem + 140px) !important;   
		}
	
	}
}


.darkblue-background, .blue-background  {
	// background-image: url(small-blue-background-quality.jpg);
	background-color: $darkBlue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
		a, p, h1, h2, h3, h4, h5, h6, li {
			color: $whiteColor;
		}
		& > *:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
			a:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			p:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h1:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h2:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h3:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h4:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h5:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h6:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			li:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
				color: $whiteColor;
			}
		}
	}
	
}

.white-image {
	    filter: brightness(0) invert(1);
		img {
			filter: brightness(0) invert(1);
		}
}

[class*="-background"]:not(.transparent-background):not(.lightblue-background) {
	background-image: linear-gradient(to bottom, $blackTransparentLighter, rgba(255,255,255,.11), $blackTransparentLighter);
}

.darkblue-background-big  {
	// background-image: url(darkblue-background-big.jpg);
	background-color: $darkBlue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
		a, p, h1, h2, h3, h4, h6, li {
			color: $whiteColor;
		}

		& > *:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
			a:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			p:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h1:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h2:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h3:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h4:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h5:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			h6:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt), 
			li:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
				color: $whiteColor;
			}
		}

		h5 {
			color: $lightBlue;
		}
	}
	
}

.white-background  {
	background-color: $whiteColor;
	a, p, h1, h2, h3, h4, h6, li {
		color: $black;
	}

	h5 {
		color: $lightBlue;
	}

}

.lightblue-background { 
	background-color: $lightBlue; 

	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $black;
	}

	h5 {
		color: $lightBlue;
	}

}

.yellow-background { 
	background-color: $yellow; 

	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $red;
	}

}

.red-background { 
	background-color: #F03524; 
	
	a, p, h1, h2, h3, h4, h6, li {
		color: $whiteColor;
	}

	h5 {
		color: $yellow;
	}
}

.transparent-background {
	background-color: transparent !important;
	& *:not(.blue-background) & *:not(.red-background) {
		& > *:not(.lightblue-txt):not(.darkblue-txt):not(.black-txt):not(.red-txt) {
		a, p, h1, h2, h3, h4, h5, h6, li {
			color: $black;
		}
	}
	h5 {
		color: $lightBlue;
	}
	}
	
}



.promo-grid--container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

////////////////
.list-social {
	display: flex;
}

.visually-hidden {
	display: none;
}

.image-block {
	overflow: hidden;
}

.item-text-below, .carousel-text-below {

	& > a > * {
		padding: 30px;
	}
	
	.image-block {
		height: 220px;
		width: 100%;
		margin-bottom: 20px;

		img {
			height: 100%;
			width: 100%;
		}
	}

}

.grid-section-item, .article-item, .swiper-slide.carousel-text-below {
	overflow: hidden;

	a {
		.image-block, .article-image-block {
			@include transition;
		}
	}

	&:hover {

		a {
			.image-block, .article-image-block {
				transform: scale(1.1);
				@include transition;
			}
		}

	}
}

.grid-cols--5 > .grid-section-item {
	.image-block, .article-image-block {
		@include transitionSlower;
	}
}



@media #{$desktop} {

	.large-container {
		min-height: 700px;
	
	}

	.grid-gap-large-equal {
		flex-wrap: nowrap;
		justify-content: space-between;

		.grid-section-item  {
			max-width: 30%;
			margin-bottom: 0 !important;
		}
	}


	.grid-cols--2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	
	.grid-cols--5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));

	}

	.grid-cols--3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.grid-cols--4 {
        grid-template-columns: repeat(4, 1fr);
    }


	.grid-cols--50-50 {
		grid-template-columns: 1fr 1fr;
	} 
	.grid-cols--60-40 {
		grid-template-columns: .6fr .4fr;
	}
	.grid-cols--40-60 {
		grid-template-columns: .4fr .6fr;
	}
	.grid-cols--2_3-1_3 {
		grid-template-columns: 2.3fr 1.3fr;
	}
	.grid-cols--1_3-2_3 {
		grid-template-columns: 1.3fr 2.3fr;
	}
	.grid-cols--1_4-3_4 {
		grid-template-columns: 1.4fr 3.4fr;
	}
	.grid-cols--3_4-1_4 {
		grid-template-columns: 3.4fr 1.4fr;
	}
	.grid-cols--1_5-4_5 {
		grid-template-columns: 1.5fr 4.5fr;
	}
	.grid-cols--4_5-1_5{
		grid-template-columns: 4.5fr 1.5fr;
	}
	.grid-cols--2_5-3_5 {
		grid-template-columns: 2.5fr 3.5fr;
	}
	.grid-cols--3_5-2_5 {
		grid-template-columns: 3.5fr 2.5fr;
	}

	.grid-cols--30-30-30 {
		& > * {
			width: 28%;
		}
	}
	
	.grid-cols--30-40-30 {
		& > *:not(:nth-child(2)) {
			width: 28%;
		}

		& > *:nth-child(2) {
			width: 38%;
		}
	}
	
	.grid-cols--30-30-40 {
		& > *:not(:last-child) {
			width: 28%;
		}
	
		& > *:last-child {
			width: 38%;
		}
	}
	
	.grid-cols--20-20-60 {
		& > *:not(:last-child) {
			width: 18%;
		}
	
		& > *:last-child {
			width: 58%;
		}
	}
	
	.grid-cols--20-60-20 {
		& > *:not(:nth-child(2)) {
			width: 18%;
		}
	
		& > *:nth-child(2) {
			width: 58%;
		}
	}
	
	.grid-cols--60-20-20{
		& > *:not(:first-child) {
			width: 18%;
		}
	
		& > *:not(:first-child) {
			width: 58%;
		}
	}
	

}

@media #{$fullhd} {
	.grid-cols--4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

