html {
	scroll-behavior: smooth;
}

.horizontal-wrap {
	@include sideWrap;
}

.n-gap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

//small
.sm-v_gap {
	@include verticalWrap;
}

//small top
.sm-t-v_gap {
	@include verticalWrap-top;
}

//small bt
.sm-bt-v_gap {
	@include verticalWrap-tiny-bottom;
}

//medium
.m-v_gap {
	@include verticalWrap;
}

//medium top
.m-t-v_gap {
	@include verticalWrap-top;
}

//medium bt
.m-bt-v_gap {
	@include verticalWrap-bottom;
}

//large
.l-v_gap {
	@include verticalWrap-large;
}

//large top
.l-t-v_gap {
	@include verticalWrap-large-top;
}

//large bt
.l-bt-v_gap {
	@include verticalWrap-large-bottom;
}

.blue-background  {
	background-image: url(small-blue-background-quality.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $whiteColor !important;
	}
}

.white-background  {
	background-color: $whiteColor !important;
	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $darkBlue !important;

		&:hover {
			color: $lightBlue !important;
		}
	}
}

.transparent-background {
	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $darkBlue !important;
		&:hover {
			color: $lightBlue !important;
		}
	}
}

.transparent-background  {
	background-color: transparent !important;
}

.promo-grid--container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

// .promo-grid--container {
// 	.img-top {
// 		.promo-block--content-wrapper {
// 			margin-top: 0 !important;
// 		}
// 	}
// }



.promo-grid--section {
	.promo-grid--inner {
		.promo-block--content-wrapper {
			margin-top: auto;
		}

		.promo-block--content {
			padding: 3em;
		}

		img {
			object-fit: cover;
		}
	}

	.img-top {
		background: none;
		.promo-block--content {
			padding-left: 0 !important;
		}

		.promo-block--content-wrapper {
			margin-top: 0 !important;
		}

		.home-section--title {
			margin-top: 20px !important;
			margin-bottom: 20px !important;
			text-align: left !important;
		}

		.button-primary {
			margin-top: 35px !important;
		}

		.image-block {
			width: 100%;
			text-align: left !important;
			img {
				opacity: 1;
				position: relative !important;
				height: 227px;
				width: auto;
				object-fit: contain;
			}
		}
	}

	.img-with-logo {
		height: 450px !important;

		.promo-block--content-wrapper {
			position: relative;
			height: 100%;
			.home-section--title { 
				grid-area: title; 
				position: absolute;
				left: 0;
				top: 0;
				text-align: left;
				max-width: 100%;
				z-index: 1;
			}
			.logo-block { 
				grid-area: logo; 
				height: 150px;
				position: relative;
				z-index: 1;
				img {
					height: auto !important;
					width: 100% !important;
					object-fit: contain;
					opacity: 1;
					margin-left: 15%;
					margin-top: 50%;
					transform: translateY(-50%);

				}
			

			}
			.image-block { 
				grid-area: image; 
				position: relative;
				z-index: 0;
				img {
					width: 100% !important;
					height: auto !important;
					object-fit: contain;
					opacity: 1;
					bottom: 0 !important;
				}
			}

			display: grid;
			display: -ms-grid;
			display: -moz-grid;
			display: -moz-grid-group;
			display: -moz-grid-line;
			display: -ms-inline-grid;
			display: -moz-inline-grid;
			grid-auto-columns: 20% 80%;
			grid-column-gap: 10px;
			grid-template-areas:
			'title image'
			'title image'
			'logo image';
			align-items: stretch;
		}

	}

}

/** grid-container-2rows-col */
.grid-container-2rows-col {
	.custom-title { grid-area: title; }
	.content { grid-area: content; }
	.btn { grid-area: button; }
	.video-wrap { 
		grid-area: video; 

		.fluid-width-video-wrapper {
			padding-top: 0 !important;
		}
		iframe {
			position: relative;
			height: 400px !important;
		}
	}

		display: grid;
		display: -ms-grid;
		display: -moz-grid;
		display: -moz-grid-group;
		display: -moz-grid-line;
		display: -ms-inline-grid;
		display: -moz-inline-grid;
		grid-auto-columns: 50%;
		grid-column-gap: 4vw;
		grid-template-areas:
			'title video'
			'content video'
			'button video';
		align-items: start;
}


#promo-block--162807599604e4f304-2 {
	height: 450px !important;
}



.blogposts--count-3 {
	.blogposts--footer {
		display: none !important;
	}

	.article-list-item {
		a {
			height: 400px !important;
		}
	}

	.article--excerpt-content {
		display: flex;
		flex-direction: column;
		padding: 0 !important;
		padding-top: 20px !important;
		-webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
		border: 0 !important;

		h2 {
			font-size: 3.6rem !important;
			color: $darkBlue !important;
			text-align: left;
		}

		.article--excerpt-readmore {
			display: none;
		}
	}

	.article--excerpt-meta {
		order: 3;
		text-align: left;

		span {
			font-size: 2.2rem !important;
			color: $darkBlue !important;
		}
	}
}

