html {
	scroll-behavior: smooth;
}

.horizontal-wrap > * {
	@include sideWrap;
}

.n-gap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

//small
.sm-v_gap >  *:not(.blogposts--container) {
	@include verticalWrap-tiny;
}

.sm-v_gap.blogposts--container {
	@include verticalWrap-tiny;
}

//small top
.sm-t-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-top;
}

.sm-t-v_gap.blogposts--container {
	@include verticalWrap-top;
}

//small bt
.sm-bt-v_gap:not(.blogposts--container) >  *{
	@include verticalWrap-tiny-bottom;
}

.sm-bt-v_gap.blogposts--container {
	@include verticalWrap-tiny-bottom;
}

//medium
.m-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap;
}

.m-v_gap.blogposts--container {
	@include verticalWrap;
}

//medium top
.m-t-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap;
}

.m-t-v_gap.blogposts--container {
	@include verticalWrap-top;
}

//medium bt
.m-bt-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-bottom;
}

.m-bt-v_gap.blogposts--container {
	@include verticalWrap-bottom;
}

//large
.l-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-large;
}

.l-v_gap.blogposts--container {
	@include verticalWrap-large;
}

//large top
.l-t-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-large-top;
}

.l-t-v_gap.blogposts--container {
	@include verticalWrap-large-top;
}

//large bt
.l-bt-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-large-bottom;
}

.l-bt-v_gap.blogposts--container {
	@include verticalWrap-large-bottom;
}

//large
.x-l-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-xlarge;
}

.x-l-v_gap.blogposts--container {
	@include verticalWrap-xlarge;
}

//large top
.x-l-t-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-xlarge-top;
}

.x-l-t-v_gap.blogposts--container {
	@include verticalWrap-xlarge-top;
}

//large bt
.x-bt-v_gap:not(.blogposts--container) >  * {
	@include verticalWrap-xlarge-bottom;
}

.x-bt-v_gap.blogposts--container {
	@include verticalWrap-xlarge-bottom;;
}

.image-position-center {
	background-position: center;
    img {
        object-position: center;
    }
}

.image-position-top-left {
	background-position: top left;
    img {
        object-position: top left;
    }
}

.image-position-top-center {
	background-position: top center;
    img {
        object-position: top center;
    }
}

.image-position-center-right {
	background-position: top right;
    img {
        object-position: top right;
    }
}

.image-position-center-left {
	background-position: bottom left;
    img {
        object-position: bottom left;
    }
}

.image-position-top-right {
	background-position: top right;
    img {
        object-position: top right;
    }
}

.image-position-bottom-left {
	background-position: bottom left;
    img {
        object-position: bottom left;
    }
}

.image-position-bottom-center {
	background-position: bottom center;
    img {
        object-position: bottom center;
    }
}

.image-position-bottom-right {
	background-position: bottom right;
    img {
        object-position: bottom right;
    }
}



// .logo-top-left.img-small {
// 	display: flex;
//    justify-content: flex-start;
//    align-items: flex-start;
// }

// .logo-top-center.img-small {
// 	display: flex;
// 	justify-content: center;
// 	align-items: flex-start;
// }

// .logo-center-right.img-small {
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: center;
// }

// .logo-center-left.img-small {
// 	display: flex;
// 	justify-content: flex-start;
// 	align-items: center;
// }

// .logo-top-right.img-small {
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: flex-start;
// }

// .logo-bottom-left.img-small {
// 	display: flex;
// 	justify-content: flex-start;
// 	align-items: flex-end;
// }

// .logo-bottom-center.img-small {
// 	display: flex;
// 	justify-content: center;
// 	align-items: flex-end;
// }

// .logo-bottom-right.img-small {
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: flex-end;
// }


.img-cover {
    img {
        object-fit: cover;
    }
	background-size: cover;
	background-position: center;

}

.img-original {
    img {
        object-fit: none;
    }
	background-size: none;
	background-position: center;
}

.img-contain {
    img {
        object-fit: contain;
    }
	background-size: contain;
	background-position: center;
}

.img-fill {
    img {
        object-fit: fill;
    }
	background-size: fill;
	background-position: center;
}

.img-small {
    img {
        width: 100px !important;
		height: auto !important;
    }
	background-size: 100px auto;
}

@media #{$mobile} {
	.img-cover {
		height: 100%;
		background-position: center bottom;
	}
	
	.img-original {
		height: 100%;
		background-position: center bottom;
	}
	
	.img-contain {
		height: 100%;
		background-position: center bottom;
	}
	
	.img-fill {
		height: 100%;
		background-position: center bottom;
	}
	
	.img-small {
		height: 100%;
		background-position: center bottom;
	}
}

///////////
.img-cover {
	background-repeat: no-repeat;
    background-size: cover;
}

.img-original {
    background-repeat: no-repeat;
}

.img-contain {
	background-repeat: no-repeat;
    background-size: contain;
}

.img-fill {
    background-repeat: no-repeat;
    background-size: fill;
}

.small-slider {
	.flickity-slider {
		height: 200px;
	}
}

.medium-slider {
	.flickity-slider {
		height: 460px;
	}
}


.large-slider {
	.flickity-slider {
		height: 70vh;
		min-height: 400px;
	}
}


.extra-large-slider {
	.flickity-slider {
		height: 90vh;
		min-height: 600px;
	}
}

.fit-screen-slider {
	.flickity-slider {
		height: 100vh;
	}
}

@media #{$mobile} {
	.hide-on-mobile {
		display: none !important;
	}
}


@media #{$tablet} {
	.small-slider {
		.flickity-slider {
			height: 200px;
		}
	}
	
	.medium-slider {
		.flickity-slider {
			height: 460px;
		}
	}
	
	.large-slider {
		.flickity-slider {
			height: 70vh;
			min-height: 500px;
		}
	}

	
	.extra-large-slider {
		.flickity-slider {
			height: 85vh;
			min-height: 700px;
		}
	}
	
}

.account-page-content, .account-page-masthead, .announcement-bar-text, .announcement-bar-text-mobile, .article--container, .article-image--content-width, .atc-banner--outer, .blog--container, .blogposts--container, .breadcrumbs-container, .cart--section, .collection-list__container, .contact-page-content, .custom-html--container, .dynamic-video-wrapper, .featured-collection__container, .featured-product--container, .fourohfour--container, .highlights-banner__container.content-width, .highlights-banner__content, .image-with-text, .logolist--container, .menulist-container, .message-banner--outer, .navmenu-meganav-wrapper, .page-content, .page-masthead, .page__container, .pagination--container, .password-page-content--inner, .password-page-footer, .product--container, .product-row--container, .product-section--container, .productgrid--outer, .promo-grid--container, .promo-mosaic--container, .pxs-image-with-text-section, .pxs-map-section, .pxs-newsletter-section, .rich-text--container, .shoppable-image, .site-footer-item, .site-header-main, .site-navigation, .slideshow--width-content, .subcollections-banner__container, .subcollections-featured-collection__header, .subcollections__container, .testimonials-section, .twitter--container, .utility-bar__content{
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important; 
	padding-left: 0 !important; 
	max-width: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.slider-additional-gap .slideshow-slide__content {
	padding-bottom: calc(1.5rem + 140px) !important; 
	padding-bottom: -webkit-calc(1.5rem + 140px) !important; 

	@media #{$desktop} {

		& {
			padding-bottom: calc(3rem + 140px) !important; 
			padding-bottom: -webkit-calc(3rem + 140px) !important;   
		}
	
	}
}


.blue-background  {
	background-image: url(small-blue-background-quality.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $whiteColor !important;
	}
	
}

.white-background  {
	background-color: $whiteColor;
	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $black !important;
	}
	// a, p, h1, h2, h3, h4, h5, h6, li {
	// 	color: $darkBlue !important;

	// 	&:hover {
	// 		color: $lightBlue !important;
	// 	}
	// }
}

.lightblue-background { 
	background-color: #66D1FF; 

	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $black !important;
	}
}

.red-background { 
	background-color: #F03524; 
	
	a, p, h1, h2, h3, h4, h5, h6, li {
		color: $whiteColor !important;
	}
}

.transparent-background {
	// a, p, h1, h2, h3, h4, h5, h6, li {
	// 	color: $darkBlue !important;
	// 	&:hover {
	// 		color: $lightBlue !important;
	// 	}
	// }
	& *:not(.blue-background) & *:not(.red-background) {
		a, p, h1, h2, h3, h4, h5, h6, li {
			color: $black !important;
		}
	}
	
}

.transparent-background  {
	background-color: transparent !important;
}

.promo-grid--container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
