footer {

    .footer__blocks-wrapper {
        @include verticalWrap-medium-large;
    }

    h2, h3 {
        margin-bottom: 3rem !important;
    }

    .footer__content-top {
        background-color: $black;

        .footer__blocks-wrapper {
            @include sideWrap;
        }
        
        .footer-block:nth-child(2) {
            a {
                color: $lightBlue;
            }
            .footer-block__details-content > p:not(:last-child) {
                margin-bottom: 1.2rem;
            }

        }

        .menu-links-wrap {
            li:not(:last-child) {
                margin-bottom: 1.2rem;
            }
        }

        .grid__item:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .grid__item:nth-child(2) {
            a {
                color: $lightBlue;
                display: block;
            }
        }
    }
    
    .footer__content-bottom {
        background-color: #1A2C54;
        @include verticalWrap-tiny;

        .footer__content-bottom-wrapper {
            @include sideWrap; 
        }
    }
}


@media #{$tabletMax} {
    footer {

        .footer__content-top {

            .footer-block:not(:last-child), .footer-block:first-child {
                margin-bottom: 30px;

            }
        }
        .footer-block:nth-child(2) {
            .footer-block__details-content 
            p a {
                display: block;
            }
        }

        .footer-block:first-child  {
            .footer__list-social {
                margin-top: 3rem;
                justify-content: flex-start;
            }
        }
        
    }
}

@media #{$desktop} {

    footer {

        .footer__content-top {

            .footer__blocks-wrapper {
                display: grid;
                grid-column-gap: 4rem;
                grid-row-gap: 3rem;
                grid-template-columns: repeat(2, 1fr);
                // flex-wrap: wrap;
                // justify-content: space-between;

                // .footer-block {
                //     width: 45%;
                // }
            }

            // .footer-item {
            //     min-width: 28rem !important;
            // }

            // .footer-item:not(:last-child) {
            //     margin-right: 7rem;
            // }
            // .footer-item:nth-child(3) {
            //     width: 28rem;
            // }

        }


    }
}

@media (min-width: 81.26rem) {
    footer {

        .footer__content-top {

            .footer__blocks-wrapper {
                grid-template-columns: 1fr 28rem 1fr;
                grid-column-gap: 5rem;
            }

        }
    }
}

@media (min-width: 88.125rem) { 
    footer {

        .footer__content-top {

            .footer__blocks-wrapper {
                grid-template-columns: 1fr 28rem 1fr 21rem;
                grid-column-gap: 7rem;
            }

            .footer-block:nth-child(2) {
                .footer-block__details-content > p:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
    
            }
    
            .menu-links-wrap {
                li:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
}

// @media (min-width: 81.25rem) {
//     footer {

//         .footer__content-top {

//             .footer__blocks-wrapper {
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: space-between;

//                 .footer-block {
//                     width: 20%;
//                 }
//             }

//             .footer-item {
//                 min-width: 28rem !important;
//             }

//             .footer-item:not(:last-child) {
//                 margin-right: 7rem;
//             }
//         }
//     }
// }
// @media (max-width: 81.26rem) {
//     footer {

//         .footer__content-top {

//             .footer__blocks-wrapper {
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: space-between;

//                 .footer-block {
//                     width: 20%;
//                 }
//             }

//             .footer-item {
//                 min-width: 28rem !important;
//             }

//             .footer-item:not(:last-child) {
//                 margin-right: 7rem;
//             }

//             .footer-item:nth-child(3) {
//                 width: 28rem;
//             }
//         }
//     }
// }



@media #{$tabletMax} {
    footer {

        .footer__content-top {
            .newsletter-form__field-wrapper form {
                display: flex;
                button {
                    margin-left: 10px !important;
                }
            }
        }
    }
}

