
.footer-block__newsletter {
    form {
        display: block;

        .form-fields-inline {
            display: block !important;
        }

        .newsletter-submit {
            margin-top: 35px !important;
            margin-bottom: 35px !important;
        }

        .field > input {
            width: 100%!important;
            max-width: 300px!important;
        }

    }
}


form {
    
    .form-field-title {
        top: 0 !important;
        left: 0 !important;
        position: relative;
        width: 100% !important;
    }

}

input {
    color: $darkBlue !important;
    font-size: 2.2rem !important;
    padding: .5em .5em !important;
    background-color: $whiteColor !important;
    border: 0 !important;
    border-radius: 0 !important;
}


input {
    height: 60px !important;
}

form.search {
    display: flex;
    align-items: center;
    button {
        width: 58px;
        height: 100%;
        border-left: 1px solid $black;
    }
}

.icon-search {
    color: $lightBlue;
    height: 24px;
    width: 24px;
}


