
.newsletter {
    form {

        .form-field-title {
            display: none !important;
        }

        .form-fields-inline {
            display: block !important;
        }

        .newsletter-submit {
            margin-top: 35px !important;
            margin-bottom: 35px !important;
        }
        .newsletter-input {
            width: 100%!important;
            max-width: 300px!important;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
    }
}

input {
    color: $darkBlue !important;
    font-size: 2.2rem !important;
    padding: .3em .5em !important;
    background-color: $whiteColor;
    border: 0 !important;
    border-radius: 0 !important;
}

input:not(header input) {
    height: 60px !important;
}