/************************ collction list ***********************/

.grid-list-wrapper {

	.grid-title {
		word-break: break-word;
	}

	.button-wrap {
		display: flex;

		&.txt-position-center {
			justify-content: center;
		}
		&.txt-position-left {
			justify-content: flex-start;
		}
		&.txt-position-right {
			justify-content: flex-end;
		}
	}

	.grid-item-inner-wrapper {
		height: 100%;
		position: relative;
	}  
	.logos-list, .full-img {
		.grid-item-inner-wrapper {
			display: flex;
			flex-direction: column;
		}

		.grid-content-wrapper {
			z-index: 1;
		}
		.image-block {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
		.grid-content-wrapper {
			position: relative;
			width: 100%;
		}
	}

	.full-img, .logos-list {
		position: relative;
		.image-block {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			top: 0;
			left: 0;
		}
	}

	.full-img {
		background-repeat: no-repeat;

		.grid-content-wrapper {
			padding: 30px;
		}
		
	}

	.logos-list {
		background-repeat: no-repeat;
	}

	.img-top {

		.grid-title {
			margin-bottom: 20px;
		}

		.button {
			margin-top: 35px;
		}

		.image-block {
			width: 100%;
			text-align: center;
			img {
				height: 227px;
				width: auto;
			}

		}
	}

	.img-with-logo {
		position: relative;
		padding: 30px;
		
		.grid-item-inner-wrapper {
			height: 100%;
			width: 100%;

			.image-block {
				@include fitContentHeight;
			}

			.grid-content-wrapper {
				width: 100%;
				position: absolute;
				max-width: 100%;
				left: 0;
				z-index: 1;
			}

			&.txt-v-position-center {
				.grid-content-wrapper {
					top: 50%;
					transform: translateY(-50%);
				}
			} 

			&.txt-v-position-top {
				.grid-content-wrapper {
					top: 0;
				}
			} 
		
			&.txt-v-position-bottom {
				.grid-content-wrapper {
					bottom: 0;
				}
			} 
		}

		.logo-block { 
			display: block;
			position: absolute;
			z-index: 1;
			width: 35%;
			min-width: 150px;
			height: 45%;
			min-width: 180px;
			min-height: 180px;
			padding-right: 10px;

			&.img-small {
				display: flex;
			}
			img {
				width: 100%;
				height: 100%;
			}

			&.logo-mobile-hidden {
				display: none;
			}

			
			&.logo-centered {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&.logo-center-top {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 
			}
			&.logo-left-top {
				top: 0;
				left: 0;
			}
			&.logo-right-top {
				top: 0;
				right: 0;
			}

			&.logo-center-bottom {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
			}

			&.logo-left-bottom {
				bottom: 0;
				left: 0;

			}
			&.logo-right-bottom {
				bottom: 0;
				right: 0;
			}

			&.logo-centered-mobile {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.logo-center-top-mobile {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 
			}
			&.logo-left-top-mobile {
				top: 0;
				left: 0;
				transform: translateX(-50%); 
			}
			&.logo-right-top-mobile {
				top: 0;
				right: 0;
			}

			&.logo-center-bottom-mobile {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
			}

			&.logo-left-bottom-mobile {
				bottom: 0;
				left: 0;
			}
			&.logo-right-bottom-mobile {
				bottom: 0;
				right: 0;
			}


			&.img-small {
				justify-content: center;
				align-items: center;
				min-height: 50% !important;
			}

		}

		.image-block { 
			position: absolute;
			z-index: 0;
			width: 60%;
			min-width: 400px;
			min-width: none;
			height: 80%;
			background-repeat: no-repeat;

			img {
				width: 100%;
				height: 100%;
			}

		}
	}

	.collection-no-img {
		.grid-content-wrapper {
			height: 100%;
			width: 100%;
			padding: 30px;
		}
	}

}




/** grid-2-cols */
.grid-2-cols {

	.video-wrap { 
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;

		.fluid-width-video-wrapper {
			padding-top: 0 !important;
		}
		iframe {
			position: relative;
            width: 100% !important;
            border: none !important;
			
            -webkit-box-shadow:  -1px 1px 8px 5px rgba(0, 20, 65, 0.2);
            -moz-box-shadow:  -1px 1px 8px 5px rgba(0, 20, 65,0.2);
            box-shadow:   -1px 1px 8px 5px rgba(0, 20, 65, .2);
		}
	}

}


.grid-small-height {
	height: 150px !important;
	overflow: hidden;

}

.grid-medium-height {
	height: 500px; 
	min-height: 480px;
	.promo-grid--inner {
		height: 100%;
	}
}

.grid-large-height {
	height: 80vh !important;
	.promo-grid--inner {
		height: 100%;
	}
} 

.grid-full-height {
	height: 100vh !important;
	.promo-grid--inner {
		height: 100%;
	}
}

@media #{$mobile} {

	.grid-list-wrapper {
		.full-img {
			.grid-item-inner-wrapper {
				align-items: center;
				justify-content: center; 
			}

		}

		.grid-item-inner-wrapper {
			height: 100%;
			width: 100%;
			position: relative;
		}

		.img-with-logo {

			.grid-item-inner-wrapper {

				.image-block { 
					width: 100%;
					left: 50%;
					bottom: 0;
					top: auto;
					transform: translate(-50%, 0);
					img {
						object-position: bottom;
					}
				}
			}
		}
	}

	.item-top {
		@include verticalWrap-large-top;
	}

	.grid-2-cols {
		.video-wrap.reorder {
			order: 10
		}
	}

}

@media #{$tablet} {

	.grid-2-cols {

		.video-wrap { 
			display: flex;
    		justify-content: flex-end;
			iframe {
				height: 520px;
			}
		}
	}

	.grid-list-wrapper {
        .img-top {

			.grid-item-inner-wrapper {
				flex-direction: row;
			}

			.grid-content-wrapper {
				max-width: 85%;
			}

			.image-block {
				margin-right: 20px;
				margin-bottom: 0;
			}

        }

		.img-with-logo {
			.grid-content-wrapper {
				&.txt-v-position-center {
					top: 50%;
					transform: translateY(-50%);
				}
				&.txt-v-position-top {
					top: 0;
				}
				&.txt-v-position-bottom {
					bottom: 0;
				}
			}
		
			.image-block {

				img {
					min-width: 80%;
					height: auto;
				}
					
				&.image-position-center {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				
				&.image-position-right-center {
					top: 50%;
					left: 100%;
					transform: translate(-100%, -50%); 
				}

				&.image-position-left-center {
					top: 50%;
					left: 0;
					transform: translateY(-50%); 
				}


				&.image-position-center-top {
					top: 0;
					left: 50%;
					transform: translate(-50%, 0); 
				}
				&.image-position-left-top {
					top: 0;
					left: 0;
					transform: translate(0); 
				}

				&.image-position-right-top {
					top: 0;
					left: 100%;
					transform: translateX(-100%); 
				}


				&.image-position-center-bottom {
					top: 100%;
					left: 50%;
					transform: translate(-50%, -100%); 
				}

				&.image-position-left-bottom {
					top: 100%;
					left: 0;
					transform: translate(0, -100%); 
				}
				&.image-position-right-bottom {
					top: 100%;
					left: 100%;
					transform: translate(-100%, -100%); 
				}
			}
		}
    }

    .item-top {
        margin-top: -100px !important;

		.slider-mobile-gutter {
			z-index: 3;
		}
    }

	.grid-medium-height {
        height: 400px;
    }

	.grid-small-height {
        height: 120px !important;
    }
	
	.grid-large-height {
		height: 600px !important;
	}

	.grid-gap-large-equal {

		.grid-item-inner-wrapper {
			display: block !important;
		}
		img {
			height: 120px !important;
		}
	}

}

@media #{$desktop} {

	.grid-2-cols {

		.video-wrap { 
			iframe {
				max-width: 700px;
			}
		}
	}


    .grid-list-wrapper {

        .img-top {

			.grid-item-inner-wrapper {
				flex-direction: column;
			}

			.image-block {
				margin-right: 0;
				margin-bottom: 20px;
			}
        }
    }


	.item-top {
        margin-top: -140px !important;
    }

    .grid-medium-height {
        height: 440px !important;
    }

	.grid-large-height {
		height: 700px !important;
	}

}