/************************ collction list ***********************/

.grid-list-wrapper {

	.grid-title {
		word-break: break-word;
	}

	.button-wrap {
		display: flex;

		&.txt-position-center {
			justify-content: center;
		}
		&.txt-position-left {
			justify-content: flex-start;
		}
		&.txt-position-right {
			justify-content: flex-end;
		}
	}

	.grid-item-inner-wrapper {
		height: 100%;
		position: relative;
	}  
	.logos-list, .full-img {
		.grid-item-inner-wrapper {
			display: flex;
			flex-direction: column;
		}
		.image-block {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
		.grid-content-wrapper {
			position: relative;
			width: 100%;
		}
	}

	.full-img, .logos-list {
		position: relative;
		.image-block {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			top: 0;
			left: 0;
		}
	}

	// .grid-content-wrapper {
	// 	&.btn-position-center {
	// 		text-align: center;
	// 	}
	// 	&.btn-position-left {
	// 		text-align: left;
	// 	}
	// 	&.btn-position-right {
	// 		text-align: right;
	// 	}

	// 	.title, .promo-block--text {
	// 		&.txt-position-center {
	// 			text-align: center;
	// 		}
	// 	}
		
	// 	.title, .promo-block--text {
	// 		&.txt-position-left {
	// 			text-align: left;
	// 		}
	// 	}

	// 	.title, .promo-block--text {
	// 		&.txt-position-right {
	// 			text-align: right;
	// 		}
	// 	}
	// }

	.full-img {
		background-repeat: no-repeat;

		.grid-content-wrapper {
			padding: 30px;
		}
		
	}

	.logos-list {
		background-repeat: no-repeat;
	}

	.img-top {

		.grid-title {
			margin-bottom: 20px;
		}

		.button {
			margin-top: 35px;
		}

		.image-block {
			width: 100%;
			text-align: center;
			img {
				height: 227px;
				width: auto;
			}

		}
	}

	.img-with-logo {
		position: relative;
		padding: 30px;
		.grid-item-inner-wrapper {
			height: 100%;
			width: 100%;

			.grid-content-wrapper {
				width: 100%;
				position: absolute;
				max-width: 100%;
				left: 0;
				z-index: 1;
			}

			&.txt-v-position-center {
				.grid-content-wrapper {
					top: 50%;
					transform: translateY(-50%);
				}
			} 

			&.txt-v-position-top {
				.grid-content-wrapper {
					top: 0;
				}
			} 
		
			&.txt-v-position-bottom {
				.grid-content-wrapper {
					bottom: 0;
				}
			} 
		}

	
		// .image-block {
		// 	width: 100%;
		// 	height: 100%;
		// 	position: relative;
		// 	overflow: hidden;
		// }
		// .grid-item-inner-wrapper {
		// 	padding: 0 !important;
			// &.image-position-center {
			// 	justify-content: center;
			// 	align-items: center; 
			// }
			// &.image-position-center-top {
			// 	justify-content: center;
			// 	align-items: flex-start; 
			// }
			// &.image-position-left-top {
			// 	justify-content: flex-start;
			// 	align-items: flex-start; 
			// }
			// &.image-position-right-top {
			// 	justify-content: flex-end;
			// 	align-items: flex-start; 
			// }

			// &.image-position-center-bottom {
			// 	justify-content: center;
			// 	align-items: flex-end; 
			// }

			// &.image-position-left-bottom {
			// 	justify-content: flex-start;
			// 	align-items: flex-end; 
			// }
			// &.image-position-right-bottom {
			// 	justify-content: flex-end;
			// 	align-items: flex-end; 
			// }
		// }

		// .grid-content-wrapper {
		// 	position: absolute;
		// 	max-width: 100%;
		// 	left: 0;
		// 	z-index: 1;
		// }

		.logo-block { 
			display: block;
			position: absolute;
			z-index: 1;
			width: 35%;
			min-width: 150px;
			height: 45%;
			min-width: 180px;
			min-height: 180px;
			padding-right: 10px;

			&.img-small {
				display: flex;
			}
			img {
				width: 100%;
				height: 100%;
			}

			&.logo-mobile-hidden {
				display: none;
			}

			
			&.logo-centered {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&.logo-center-top {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 
			}
			&.logo-left-top {
				top: 0;
				left: 0;
			}
			&.logo-right-top {
				top: 0;
				right: 0;
			}

			&.logo-center-bottom {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
			}

			&.logo-left-bottom {
				bottom: 0;
				left: 0;

			}
			&.logo-right-bottom {
				bottom: 0;
				right: 0;
			}

			&.logo-centered-mobile {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.logo-center-top-mobile {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 
			}
			&.logo-left-top-mobile {
				top: 0;
				left: 0;
				transform: translateX(-50%); 
			}
			&.logo-right-top-mobile {
				top: 0;
				right: 0;
			}

			&.logo-center-bottom-mobile {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
			}

			&.logo-left-bottom-mobile {
				bottom: 0;
				left: 0;
			}
			&.logo-right-bottom-mobile {
				bottom: 0;
				right: 0;
			}

			// &.logo-centered.img-small {
			// 	justify-content: center;
			// 	align-items: center;
			// }
			// &.logo-top-center.img-small {
			// 	justify-content: center;
			// 	align-items: flex-start;
			// }

			// &.logo-center-right.img-small {
			// 	justify-content: flex-start;
			// 	align-items: center;
			// }

			&.img-small {
				justify-content: center;
				align-items: center;
				min-height: 50% !important;
			}

			// &.logo-top-right.img-small {
			// 	justify-content: flex-start;
			// 	align-items: flex-end;
			// }

			// &.logo-top-right.img-small {
			// 	justify-content: center;
			// 	align-items: flex-end;
			// }

			// &.logo-bottom-right.img-small {
			// 	justify-content: flex-end;
			// 	align-items: flex-end;
			// }

		}

		.image-block { 
			position: absolute;
			z-index: 0;
			width: 60%;
			min-width: 400px;
			min-width: none;
			height: 80%;
			background-repeat: no-repeat;
			// margin-left: auto;
			// margin-right: auto;
			// margin-left: auto;
			// margin-top: auto;
			// margin-bottom: auto;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);

			img {
				width: 100%;
				height: 100%;
				// bottom: 0 !important;
				// max-width: 100%;
			}

		}

	}

}

/** grid-container-2rows-col */
.grid-container-2rows-col {
	.custom-title { grid-area: title; }
	.content { grid-area: content; }
	.btn { grid-area: button; }
	.video-wrap { 
		grid-area: video; 
		margin-top: 30px;
		margin-bottom: 30px;
		width: 100%;

		.fluid-width-video-wrapper {
			padding-top: 0 !important;
		}
		iframe {
			position: relative;
			height: 400px !important;
            width: 100%;
            border: none !important;
            -webkit-box-shadow:  -1px 1px 8px 5px rgba(0,0,0,0.2);
            -moz-box-shadow:  -1px 1px 8px 5px rgba(0,0,0,0.2);
            box-shadow:   -1px 1px 8px 5px rgba(0,0,0,0.2);
		}
	}

		display: grid;
		display: -ms-grid;
		display: -moz-grid;
		display: -moz-grid-group;
		display: -moz-grid-line;
		display: -ms-inline-grid;
		display: -moz-inline-grid;
		grid-auto-columns: 1fr;
		grid-column-gap: 30px;
		grid-template-areas:
			'title'
			'content'
			'video'
			'button';
		align-items: start;
}


.grid-small-height {
	height: 150px !important;
	overflow: hidden;

}

.grid-medium-height {
	height: 500px; 
	min-height: 480px;
	.promo-grid--inner {
		height: 100%;
	}
}

.grid-large-height {
	height: 80vh !important;
	.promo-grid--inner {
		height: 100%;
	}
} 

.grid-full-height {
	height: 100vh !important;
	.promo-grid--inner {
		height: 100%;
	}
}

@media #{$mobile} {

	.grid-list-wrapper {
		.full-img {
			.grid-item-inner-wrapper {
				align-items: center;
			}
		}

		.grid-item-inner-wrapper {
			height: 100%;
			width: 100%;
		}

		.img-with-logo {

			.grid-item-inner-wrapper {

				.image-block { 
					width: 100%;
					left: 50%;
					bottom: 0;
					top: auto;
					transform: translate(-50%, 0);
					img {
						object-position: bottom;
					}
				}
			}
		}
	}

	.item-top {
		@include verticalWrap-large-top;
	}
}

@media #{$tablet} {

	.grid-container-2rows-col {

		.video-wrap { 
			iframe {
				width: 600px !important;
			}
		}
	}

	.grid-list-wrapper {
        .img-top {

			.grid-item-inner-wrapper {
				flex-direction: row;
			}

			.grid-content-wrapper {
				max-width: 85%;
			}

			.image-block {
				margin-right: 20px;
				margin-bottom: 0;
			}

        }

		.img-with-logo {
			.grid-content-wrapper {
				&.txt-v-position-center {
					top: 50%;
					transform: translateY(-50%);
				}
				&.txt-v-position-top {
					top: 0;
				}
				&.txt-v-position-bottom {
					bottom: 0;
				}
			}
			
			// .image-block {
			// 	&.image-position-centered {
			// 		margin-right: auto;
			// 		margin-left: auto;
			// 		margin-top: auto;
			// 		margin-bottom: auto;
			// 	}
			// 	&.image-position-center-top {
			// 		margin-right: auto;
			// 		margin-left: auto;
			// 		margin-bottom: auto;
			// 		margin-top: 0;
			// 	}
			// 	&.image-position-left-top {
			// 		margin-right: auto;
			// 		margin-bottom: auto; 
			// 		margin-left: 0;
			// 		margin-top: 0;
			// 	}
			// 	&.image-position-right-top {
			// 		margin-left: auto;
			// 		margin-bottom: auto;
			// 		margin-right: 0;
			// 		margin-top: 0;
			// 	}
	
			// 	&.image-position-center-bottom {
			// 		margin-right: auto;
			// 		margin-left: auto;
			// 		margin-top: auto;
			// 		margin-right: 0;
			// 	}
	
			// 	&.image-position-left-bottom {
			// 		margin-right: auto;
			// 		margin-top: auto;
			// 		margin-left: 0;
			// 		margin-top: 0;
			// 	}
			// 	&.image-position-right-bottom {
			// 		margin-left: auto;
			// 		margin-top: auto;
			// 		margin-right: 0;
			// 		margin-bottom: 0;
			// 	}
			// }

			.image-block {

				img {
					min-width: 80%;
					height: auto;
				}
					
				&.image-position-center {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				
				&.image-position-right-center {
					top: 50%;
					left: 100%;
					transform: translate(-100%, -50%); 
				}

				&.image-position-left-center {
					top: 50%;
					left: 0;
					transform: translateY(-50%); 
				}


				&.image-position-center-top {
					top: 0;
					left: 50%;
					transform: translate(-50%, 0); 
				}
				&.image-position-left-top {
					top: 0;
					left: 0;
					transform: translate(0); 
				}

				&.image-position-right-top {
					top: 0;
					left: 100%;
					transform: translateX(-100%); 
				}


				&.image-position-center-bottom {
					top: 100%;
					left: 50%;
					transform: translate(-50%, -100%); 
				}

				&.image-position-left-bottom {
					top: 100%;
					left: 0;
					transform: translate(0, -100%); 
				}
				&.image-position-right-bottom {
					top: 100%;
					left: 100%;
					transform: translate(-100%, -100%); 
				}
			}
		}
    }

    .item-top {
        margin-top: -100px !important;

		.slider-mobile-gutter {
			z-index: 3;
		}
    }

	.grid-medium-height {
        height: 400px;
    }

	.grid-small-height {
        height: 120px !important;
    }
	
	.grid-large-height {
		height: 600px !important;
	}

	.full-img {
		.grid-item-inner-wrapper {
			justify-content: center !important; 

		}
	}
}

@media #{$desktop} {
    .grid-list-wrapper {

        .img-top {

			.grid-item-inner-wrapper {
				flex-direction: column;
			}

			.image-block {
				margin-right: 0;
				margin-bottom: 20px;
			}
        }
    }

	/** grid-container-2rows-col */
	.grid-container-2rows-col {
			grid-column-gap: 130px;
			grid-template-areas:
				'title video'
				'content video'
				'button video';

		
			.video-wrap { 
				grid-area: video; 
				margin-top: 0;
				margin-bottom: 0;
				width: 100% !important;
				iframe {
					width: 100% !important;
				}
			}
			
	}

	.item-top {
        margin-top: -140px !important;
    }

    .grid-medium-height {
        height: 450px !important;
    }

	.grid-large-height {
		height: 700px !important;
	}

}