// .site-header-full-width {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
//   padding-left: 0 !important;
//   padding-right: 0 !important;
// }
// }
#shopify-section-announcement-bar {
  background-color: $lightBlue;

  .announcement-bar-inner {
    @include sideWrap;
    @include verticalWrap-tiny;
    display: flex;
    justify-content: flex-end;
  }

  .announcement-bar {

    & > *:not(:last-child) {
      margin-right: 18px;
    }
  }
}


.header {
  background-color: $black;
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  .header__heading-link {
    margin-left: 0;
    padding: 0;
    display: flex;
  }

  .header__menu-item {
    padding-top: 0;
    padding-bottom: 0;
  }


  .header-inner-wrapper {
    @include sideWrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__heading-link {
      padding: 17px 0;
    }
    .header__heading-logo {
      // height: 65px !important;
      // width: auto;  
      height: 56px;
      width: auto;
    }

    .header__icons {

      & > *:not(:last-child) {
        margin-right: 25px;
      }

      img {
        height: 24px;
      }

      .header__search {
        @include fitContentWidth;
      }

      .header__icon {
        @include fitContentWidth;

        span {
          @include fitContentWidth;
          display: flex;
          align-items: center;
        }
      }
    }

  }
  
}

@media #{$desktop} {
  header {
    .header-inner-wrapper {

      .header__inline-menu {
        display: flex;
        align-items: center;
      }

      .list-menu {

        & > li span:first-child {
          height: 100%;
          display: flex;
          align-items: center;
        }

      }
    }
  }

  //   .site-navigation-wrapper {
  //     flex-wrap: nowrap;
  //   }

  //     .site-navigation {
  //       padding-left: 0 !important;
  //       padding-right: 0 !important;
  //       justify-content: flex-end;

  //       .navmenu-depth-1 {
  //         flex-wrap: nowrap;
  //         padding-top: 0;
  //         padding-bottom: 0;
  
  //         & > li {
  //           padding-top: 0;
  //           padding-bottom: 0;
  
  //           a {
  //             display: flex;
  //             height: 85px;
  //             align-items: center;
  //           }
            
  
  //           .navmenu-icon.navmenu-icon-depth-1 {
  //             top: 0;
  //             right: -5px;
  //           }
  //         }
  
  //       }

  //     }

  // }
}


// @media #{$desktop}  and (max-width: 380px) {
	// .site-header-main {
      
  //     .site-navigation {
  //       justify-content: space-between;
  //       align-items: center;
  //       padding-left: 0 !important;
  //       padding-right: 0 !important;

        // .navmenu-depth-2 {

        //   li {
        //       a {
        //           color: $darkBlue;
        //       }
        //   }
        //   & > .navmenu-item-parent {
        //       a {
        //           font-weight: 700;
        //           font-size: 2.5rem !important;
        //       }
        
        //      & > .navmenu-item-parent {
        //          a {
        //               font-weight: 700;
        //               font-size: 2.5rem !important;
        //          }
        //      }
        
        //      ul {
        //          top: 0;
        //          left: 0;
        //          position: relative !important;
        //          width: 100%;
        //          margin-left: 0;
        //      }
        //   }
        // }
    //   }
    // }
// }

// @media #{$desktop} and (max-width: 380px){
//   header {

//     .site-navigation {
        
//       li {
//           margin-right: 35px;
//       }

//     }
//   }
// } 

@media (max-width: 1550px) {
  header {

    .header-inner-wrapper {

        
        .list-menu {
          & > li {
            margin-right: 35px;
          }  
        }
    }
  }
} 

@media #{$wide} {
	// .site-header-main {

  //   .site-logo {
  //     width: 270px;  
  //   }
      
  //     .site-navigation {
        
  //       li {
  //           margin-right: 45px;
  //       }
  //     }
  //   }

    header {

      .header-inner-wrapper {
        .header__heading-logo {
          // width: 270px !important;
          // height: auto;  
        }
          
          .list-menu {
            & > li {
              margin-right: 45px;
            }  
          }
      }
    }
    
}

