
#shopify-section-announcement-bar {
  background-color: $lightBlue;

  .announcement-bar-inner {
    @include sideWrap;
    @include verticalWrap-tiny;
    display: flex;
    justify-content: flex-end;
  }

  .announcement-bar {

    & > *:not(:last-child) {
      margin-right: 18px;
    }
  }
}


.header {
  background-color: $black;
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  .header__heading-link {
    margin-left: 0;
    padding: 0;
    display: flex;
  }

  .header__menu-item {
    padding-top: 0;
    padding-bottom: 0;
  }


  .header-inner-wrapper {
    @include sideWrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__heading-link {
      padding: 17px 0;
    }
    .header__heading-logo {
      height: 56px;
      width: auto;
    }

    .header__icons {

      & > *:not(:last-child) {
        margin-right: 25px;
      }

      img {
        height: 24px;
      }

      .header__search {
        @include fitContentWidth;
      }

      .header__icon {
        @include fitContentWidth;

        span {
          @include fitContentWidth;
          display: flex;
          align-items: center;
        }
      }
    }

  }
  
}

@media #{$desktop} {
  header {
    .header-inner-wrapper {


      .parent-list-menu {

        & > li span:first-child {
          height: 100%;
          display: flex;
          align-items: center;
        }

      }
    }
  }

}


@media (max-width: 1550px) {
  header {

    .header-inner-wrapper {

        
        .parent-list-menu {
          & > li {
            margin-right: 35px;
          }  
        }
    }
  }
} 

@media #{$wide} {

    header {

      .header-inner-wrapper {
          
          .parent-list-menu {
            & > li {
              margin-right: 45px;
            }  
          }
      }
    }
    
}

