

.blog-hero {
    .slide-content {
        position: absolute;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
    }
}

.hero-block {
    .collection-hero__inner {
        position: relative;
        height: 100%;

        [class*="grid-cols--"] {
            height: 100%;
        }

        .hero-grid-wrap-outer {
            padding-top: 5rem;
        }

        .collection-hero__text-wrapper {
            position: relative;
            z-index: 1;
        }

    }
}


.hero-block {
    .hero-grid-wrap-outer {
        height: 100%;
        width: 100%;
    }
    .hero-grid-wrap {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hero-block {
    .collection-hero__inner {
        .image-block:not(.video-img-block) {
            height: 100%;
            width: 100%;
            bottom: 0;
            z-index: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: bottom right;
            }
        }

        .video-block {
            height: 500px;

            iframe {
                height: 100%;
            }
        }
    }
}





.product-hero-banner {
    z-index: 0;
    & > div {
        height: 100%
    }

    .collection-hero__image-container:not(.video-img-block)  {
        height: 416px;
    }

}



@media (max-width: 1250px) {
    .with-video-media {
        @include fitContentHeight;
        min-height: 0;
        @include verticalWrap;

        .collection-hero__inner {


            .video-block {
                @include verticalWrap-bottom;
            }
        }

    }

    .hero-block {
        .collection-hero__inner {
            .image-block:not(.video-img-block) {
                position: absolute;
                height: 70%;
            }

            .collection-hero__text-wrapper {
                @include verticalWrap;
            }
        }
    }
}

@media (min-width: 1250px) {
    .hero-block {

        .collection-hero__inner {
                    
        [class*="grid-cols--"] {
            align-items: center;
            align-content: center;
        }
        

            display: flex;
            align-items: center;
            justify-content: space-between;

            .image-block {
                position: relative;
                // width: 95%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                // margin-left: 5%;

                img {
                    object-position: center right;
                }
            }
    }

    }

}
@media #{$desktop} {

    html body {
        .hero-block {

         .video-block {

                    iframe {
                        height: 400px !important;
                    }
                }
            }
    }
   

}