.mobileMenuOpen {
    height: 100vh;
    overflow-y: hidden;
}

.announcement-bar__link {
    padding: 0 !important;
    margin-left: 1.5rem;
}

html body .header--has-menu {
    .header__submenu {
        background-color: $whiteColor !important;
        @include transition;
        height: 0;
        overflow: hidden;

        li a {
            color: $black !important;
        }


    }

    .header__menu-item span {
        @include transition;
    }

    .header__menu-item {
        &:hover {
            span {
                color: $lightBlue !important;
            }
        }
    }

    .header__active-menu-item {
        color: $lightBlue !important;
    }

    [class*="submenu-item"] {
        a:hover {
            color: $lightBlue !important;
        }
    }
}


html body header {


    .header-inner-wrapper {
        .menu-burger-wrap {
            right: 4vw;
        }
    }
}

@media (max-width: 94.313rem) {
    html body header {
        .header-inner-wrapper {
            .menu-burger-wrap {
                right: 2vw;
            }
        }
    }
}

@media (max-width: 87.438rem) {

    html body header {
        .header-inner-wrapper {
            position: relative;
            .menu-burger-wrap {
                display: block;
                position: absolute;
                cursor: pointer;
                // right: 4vw;
                top: calc(50% - 16.5px);
                height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        
            .menu-burger {
                height: 2px;
                width: 30px;
                position: relative;
                transform: rotate(0);
                -webkit-transition: all ease-in-out 300ms;
                -moz-transition: all ease-in-out 300ms;
                -o-transition: all ease-in-out 300ms;
                transition: all ease-in-out 300ms;
                background-color: $lightBlue;
                color: $lightBlue;
                
                &::before {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 30px;
                    margin-top: -6px;
                    left: 0;
                    background-color: $lightBlue;
                    transform: rotate(0);
                    -webkit-transition: all ease-in-out 300ms;
                    -moz-transition: all ease-in-out 300ms;
                    -o-transition: all ease-in-out 300ms;
                    transition: all ease-in-out 300ms;
                }
        
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 30px;
                    background-color: $lightBlue;
                    left: 0;
                    bottom: -6px;
                    -webkit-transition: all ease-in-out 300ms;
                    -moz-transition: all ease-in-out 300ms;
                    -o-transition: all ease-in-out 300ms;
                    transition: all ease-in-out 300ms;
                }
            }
        
            .menu-burger-wrap.active {
                .menu-burger {
                    transform: rotate(-45deg);
                    &::before {
                        margin-top: 0;
                        transform: rotate(90deg);
                    }
            
                    &::after {
                        bottom: 0;
                    }
                }
            
            }
        }
    
        .header__inline-menu {
            background-color: $darkBlue;
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            position: fixed;
            top: 0;
            left: 0;
            @include transition;
            transform: translateX(100%);
            @include sideWrap;
            width: 100% !important;
            @include verticalWrap-smallmedium;
            & > .list-menu {
                padding-top: 4rem;
            }
    
            a, li, p, h1, h2, h3, h4, h5 {
                color: $darkBlue;
            }
    
            &.active {
                transform: translateX(0);
            }
    
            .header__icons {
                justify-content: center;
            }
    
            .parent-list-menu {
                flex-direction: column;
                align-items: center;
                width: 100%;
                
                & > li {
                    margin-top: 12px;
                }
    
                li {
                    margin-right: 0;
                }
            }

            .list-menu__item-parent {
                @include fitContentHeight;

                .header__menu-item > span {
                    margin-left: auto;
                    margin-right: auto;
                }

                li {
                    margin-right: 0;
        
                    a {
                        // padding-top: 12px;
                        padding-bottom: 12px;
                    }

                }
            }

            [class*="header__submenu-wrap-level-"] {
                height: 0;
                overflow: hidden;
                @include transition;
            }
    
            [class*="submenu-item-level"] {
                text-align: center;
                overflow: hidden;
            }
        

            .parent-list-menu {
                    .header__submenu {
                        background-color: transparent !important;
                        overflow: hidden;
                        width: 100%;
                        position: relative;
                        min-width: auto;
    
                        li a {
                            color: $whiteColor !important;
                            @include fitContentWidth;
                            margin-left: auto;
                            margin-right: auto;
                            @include transition;

                            &:hover {
                                color: $lightBlue !important;
                            }
                        }
                    }
                    li {
                        opacity: 1;
                    }

                .header__submenu-wrap-level-2, .header__submenu--wrap-level-3 {
                    height: 0;
                    overflow: hidden;
                }
    
            }


            .header__menu-item {
                span {
                    font-size: 3rem !important;
                    font-weight: 700 !important;
                }
            }

            .header-submenu-inner {
                padding-top: 20px;
            }
    
        }
    
        .header--has-menu {
            .submenu-item-level-1, .submenu-item-level-2, .submenu-item-level-3 {
                height: 0;
                opacity: 0;
                overflow: hidden;
            }
        }

        .is-parent > .header__menu-item > span {
            width: 100%;
            text-align: center;

            &:hover {
                & .parent-arrow::after {
                    background-image: url(lightblue-arrow.png);
                }
            }
        }

        .is-parent > .header__menu-item {
            padding-right: 2rem;
            padding-left: 2rem;
            position: relative;
        }

        .is-parent {
            padding-right: 2rem;
            padding-left: 2rem;
            position: relative;
  
            & > .parent-arrow, & > .header__menu-item > span > .parent-arrow {
                position: absolute;
                top: 0;
                right: 0;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &::after {
                    content: '';
                    font-family: none;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 1.5rem;
                    width: 3rem;
                    background-image: url(white-arrow.png);
                    transform: rotate(90deg);
                    @include transition;
                    background-position: center;
                }

                &:hover {
                    &::after {
                        background-image: url(lightblue-arrow.png);
                    }
                }
            }

            &.active {
                & > .parent-arrow, & > .header__menu-item  > span > .parent-arrow {
                    top: 0;
                    &::after {
                        transform: rotate(270deg);
                    }
                }
            }

        }



        .arrow-decoration-list-item {
            &::before {
                top: 9px !important;
            }
        }
    }

}

@media #{$mobile} {
    html body header {
        .header__inline-menu {

            .header__menu-item {
                text-align: center;
                & > span {
                    width: 100%;
                }
            }
    
            & > .parent-list-menu {
                & > li {
                    width: 100%;
                }
            }
            .is-parent, .is-parent > .header__menu-item {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    
}
@media (min-width: 87.5rem) {

    html body header {
        .header-inner-wrapper {
            .menu-burger-wrap {
                display: none;
            }
        }
    }
    html body .header--has-menu {
        .menu-drawer__utility-links {
            display: none;
        }

        .white-menu-element {
            width: 140vw;
            left: -40vw;
            height: 0;
            z-index: 5;
            position: absolute;
            top: 90px;
            background-color: $whiteColor;
            @include transition;
    }
        .details-disclosure {
            display: flex;
            align-items: center;

            .list-menu__item-parent {
                height: 90px;
                display: flex;
                align-items: center;
            }
        }

        .header__submenu  {
            top: 100%;
        }

        .header__inline-menu {
            display: flex;
            align-items: center;

            .list-menu--inline {
                align-items: center;
            }
        }


        .header__submenu {
            z-index: 5;
        }

        .header-submenu-inner {
            position: relative;
            display: flex;
            @include verticalWrap-smallmedium;

            & > *:not(:last-child) {
                margin-right: 5vw;
            }

            li {
                z-index: 5;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 0; 
                height: 0;
                top: -2px; 
                z-index: 5;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-top: 20px solid $black;
            }

            .arrow-decoration-list-item::before {
                top: 10px;
            }
        } 

        .submenu-item-link-level-1 {
            margin-bottom: 20px;
        }

        .submenu-item-level-2 {
            margin-left: 22px;
        }

        .submenu-item-level-1, .submenu-item-level-2, .submenu-item-level-3 {
            @include fitContentWidth;
            max-width: 215px;
            ul > li {
                margin-bottom: 20px;
            }
           
        }

        li.submenu-item-level-1, li.submenu-item-level-2, li.submenu-item-level-3 {
            a {
                margin-bottom: 20px;
            }
          
        }

        .header__submenu-wrap-level-3 {
            margin-left: 22px;
        }

    }
}
