

@mixin sideWrap {
    padding-left: 4vw; 
    padding-right: 4vw;  

    @media #{$desktop} {
        padding-left: 2vw; 
        padding-right: 2vw; 
        max-width: 1408px; 
        width: 100%;
        margin-left: auto; 
        margin-right: auto; 
    }
 

    @media #{$fullhd} {
        padding-left: .5vw; 
        padding-right: .5vw; 
    }
}

@mixin halfSideWrap { 

    @media #{$desktop} {
        padding-left: 5.5% !important; 
        padding-right: 5.5% !important; 
        max-width: 704px !important; 
        margin-left: auto !important; 
        margin-right: auto !important; 
    }
 
}


@mixin verticalWrap-tiny-top {
    padding-top: 10px !important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important;
}

@mixin verticalWrap-tiny-bottom {
    padding-bottom: 10px !important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important;
}

@mixin verticalWrap-tiny {
   @include verticalWrap-tiny-bottom; 
   @include verticalWrap-tiny-top; 
}

// @mixin verticalWrap-top {
//     padding-top: 1.5rem; 
//     margin-top: 0 !important;
// 	margin-bottom: 0 !important;
//     @media #{$desktop} {
//         padding-top: 3rem; 
//     }
// }

// @mixin verticalWrap-bottom {
//     padding-bottom: 1.5rem; 
//     margin-top: 0 !important;
// 	margin-bottom: 0 !important;
//     @media #{$desktop} {
//         padding-bottom: 3rem; 
//     }
// }

@mixin verticalWrap-top {
    padding-top: 20px;
}

@mixin verticalWrap-bottom {
    padding-bottom: 20px;
}

 
 @mixin verticalWrap-smallmedium-top {
     padding-top: 3rem; 
     margin-top: 0 !important;
     margin-bottom: 0 !important;
     @media #{$desktop} {
         padding-top: 5rem; 
     }
 }
 
 @mixin verticalWrap-smallmedium-bottom {
     padding-bottom: 3rem; 
     margin-top: 0 !important;
     margin-bottom: 0 !important;
     @media #{$desktop} {
         padding-bottom: 5rem; 
     }
 }

 @mixin verticalWrap-smallmedium {
    @include verticalWrap-smallmedium-bottom; 
    @include verticalWrap-smallmedium-top; 
}

/////////


@mixin verticalWrap {
   @include verticalWrap-top;
   @include verticalWrap-bottom;
}

@mixin verticalWrap-large-top {
    padding-top: 4rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-top: 7rem!important;  
    }
}

@mixin verticalWrap-large-bottom {
    padding-bottom: 4rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-bottom: 7rem!important; 
    }
}

@mixin verticalWrap-large {
    @include verticalWrap-large-top;
    @include verticalWrap-large-bottom;
}

@mixin verticalWrap-medium-large-top {
    padding-top: 4rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-top: 9rem!important;  
    }
}

@mixin verticalWrap-medium-large-bottom {
    padding-bottom: 4rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-bottom: 9rem!important; 
    }
}

@mixin verticalWrap-medium-large {
    @include verticalWrap-medium-large-top;
    @include verticalWrap-medium-large-bottom;
}

@mixin verticalWrap-xlarge-top {
    padding-top: 7rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-top: 14rem!important; 
    }
}

@mixin verticalWrap-xlarge-bottom {
    padding-bottom: 7rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-bottom: 14rem!important; 
    }
}

@mixin verticalWrap-xlarge {
    @include verticalWrap-xlarge-top;
    @include verticalWrap-xlarge-bottom;
}

@mixin verticalWrap-intermediate-top {
    padding-top: 5rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-top: 10rem!important; 
    }
}

@mixin verticalWrap-intermediate-bottom {
    padding-bottom: 5rem!important; 
    margin-top: 0 !important;
	margin-bottom: 0 !important; 
    @media #{$desktop} {
        padding-bottom: 10rem!important; 
    }
}

@mixin verticalWrap-intermediate {
    @include verticalWrap-intermediate-top;
    @include verticalWrap-intermediate-bottom;
}

@mixin marginBottomNone {
    margin-bottom: 0 !important;
}

@mixin marginTopNone {
    margin-top: 0 !important
}

@mixin marginTopBottomNone {
    @include marginTopNone;
    @include marginBottomNone;
}


@mixin gridSmall {
	height: 150px;

    @media #{$tablet} {
        height: 120px
    }

}

@mixin gridMedium {
    height: 70vh; 
	min-height: 480px;

    @media #{$tablet} {
        height: 400px;
        min-height: 0;
    }

    @media #{$desktop} {
        height: 445px
    }
}

@mixin gridLarge {
    height: 80vh;

    @media #{$tablet} {
        height: 600px
    }

    @media #{$desktop} {
        height: 700px
    }

}

@mixin gridFull {
    height: 100vh;
}


@mixin transition {
    transition: all .4s ease-in-out;
}

@mixin transitionSlower {
    transition: all .55s ease-in-out;
}

@mixin fitContentWidth {
    width: fit-content !important;
    width: -moz-fit-content !important;
    width: intrinsic !important;
    width: -moz-max-content !important;
    width: -webkit-max-content !important;
}


@mixin fitContentHeight {
    height: fit-content !important;
    height: -moz-fit-content !important;
    height: intrinsic !important;
    height: -moz-max-content !important;
    height: -webkit-max-content !important;
}