.full-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: $whiteColor;
    z-index: 10;
    top: 0;
    left: 0;
    cursor: pointer;

    .full-modal-inner {
        transform: translateY(-10%);
        @include transition;
        @include verticalWrap-smallmedium;
        position: relative;
        opacity: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '✕';
            color: $black;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;

        }

        .swiper-container {
            height: 100%;
        }

        .slide-inner-wrap {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sideWrap;
        }

        .media-block {
            height: 100%;
            width: 100%;
            max-width: 800px;
            max-height: 800px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
            
        }
    }

    &.active {

        .full-modal-inner {
            transform: translateY(0);
            transition-delay: 250ms;
            transition-property: transform;
            opacity: 1;

            &::before {
                right: 2vw;
                top: 2vw;
            }
        }
    }

    .large-video-block {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            width: 80%;
            max-width: 1000px;
            max-height: 750px;
            height: 80%;
        }
    }
}

.full-modal.dark-modal {
    background-color: $blackTransparent;
    
    .full-modal-inner {

        &::before {
            color: $whiteColor;

        }
    }

}

.trigger-modal {
    display: none;
    justify-content: center;
    align-items: center;

    &::before {
        content: '✕';
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &.dark-modal::before {
        color: $whiteColor;
    }

    &.active {
        display: flex;
    }
}

.medium-modal-inner {
    @include modalHorizontalWrap;
    @include verticalWrap;
    background-color: $whiteColor;
    max-height: 95vh;
    overflow: auto;
}

@media #{$desktop} {
    .full-modal {
    
        .full-modal-inner {

            &::before {
                right: 2vw;
                top: 2vw;
            }
        }
    }

    .trigger-modal {
    
        &::before {
            right: 2vw;
            top: 2vw;
        }
    }
}


@media #{$fullhd} {
    .full-modal {
    
        .full-modal-inner {

            &::before {
                right: 4vw;
                top: 4vw;
            }
        }
    }

    .trigger-modal {
    
        &::before {
            right: 4vw;
            top: 4vw;
        }
    }
}
