//****  Product single ****/

.product-section {


    .product-outer {
        .product-inner {
            @include verticalWrap-top;
        }

        .product-gallery-wrap { 
            grid-area: gallery;
         }
        .product-title { 
            grid-area: title; 
        }
        .product-price-form { grid-area: price-form; }
        .description-wrap { 
            grid-area: description; 
            @include verticalWrap-smallmedium;
        }
        .specifics-list-wrap { 
            grid-area: specifics;
            @include verticalWrap-smallmedium;
        }

        .grid-row-cols--2 {
			grid-template-areas:
				'title'
				'gallery'
                'price-form'
				'specifics'
                'description';
        }

        .product-gallery-wrap {
            width: 100% !important;

            .top-carousel {
                .media-block > * {
                    height: 480px;
                    max-height: 90vh;
                }
            }

            .bottom-carousel {
    
                .media-block > * {
                    height: 150px;
                    cursor: pointer;
                }
            }

            .product-gallery-item-wrap {
                @include halfSideWrap;

                .media-block > * {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }

            }
        }
               
            .product-vendor {
                margin-bottom: 0 !important;
            }

            .price {
                @include verticalWrap-smallmedium-bottom;
            }


            .product-price-form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    @include fitContentHeight;
                }

                .product-form__quantity {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-grow: 0;
                }

                .quantity {
                    display: flex;
                    flex-grow: 0;
                    position: relative;

                    & > * {
                        border-top: 1px solid $black !important;
                        border-bottom: 1px solid $black !important;
                    } 

                   
                    .product-quantity-select {
                        position: relative;
                        width: 58px !important;
                        max-width: 58px !important;
                        border-left: 1px solid $black !important;
                        border-top-left-radius: 3px !important;
                        border-bottom-left-radius: 3px !important;
                        border-right: none !important;
                        @include fitContentWidth;
                        cursor: auto !important;
                        justify-content: center;
                        display: flex;
                        text-align: center;
                    }
                    .quantity-selector {
                        width: 58px;
                        height: 60px;
                        padding: 2px;
                        border-right: 1px solid $black;
                        border-left: 1px solid $black;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                .plus, .minus {
                    width: 100%;
                    height: 50%;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '';
                        background-image: url(arrow-right.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                        position: absolute;
                        width: 15.8px;
                        height: 14px;
                        left: calc(50% - 7.4px);
                    }
                }

                .plus {
                    &::after {
                        transform: rotate(-90deg);
                        background-position: center top;
                        top: 4px;
                    }
                }

                .minus {
                    &::after {
                        transform: rotate(90deg);
                        background-position: center bottom;
                        bottom: 4px;
                    }
                }

                .vendor-logo {
                    margin-top: 30px;
                    img {
                        height: 100px;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }

            .product-form__buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .product-form__submit {
                    padding: .2em .8em !important;
                }
                button {
                    @include fitContentHeight;
                }
            }

            .product-gallery-wrap {
                .slides-container-outer-wrap {
                    position: relative;
                }
            }
        }

        .single-product-thumbnail {
            cursor: pointer;
        }
}

//****  Collections page ****/

.collection-grid-section {
    .child-collection-inner-wrap  {
        // .logo-block {
        //     text-align: center;
        //     margin-top: 30px;
        //     img {
        //         width: 300px;
        //         height: auto;
        //         max-width: 95%;
        //     }
        // }
    }

}

.collection-filters {


    .facets__form {
   
        .facets__display {
            background-color: $whiteColor;
        }

        .facets__summary {
            &::marker, & > div {
                display: inline;
            }
        }
    }

    .mobile-facets__wrapper {
        .disclosure-has-popup {
            display: none;
        }
    }
}

@media #{$mobile} {

    //****  Product single ****/
    .product-section {
        .bottom-carousel {
            display: none;
        }
    }
}

@media #{$tablet} {
    //****  Collections page ****/

    .collection-grid-section {
        // .child-collection-inner-wrap  {

        //     .description-wrap {
        //         display: flex;
        //         justify-content: space-between;
        //     }
        

        //     .description {
        //         width: 60%;
        //     }

        //     .logo-block {
        //         margin-top: 0;
        //         width: 35%;


        //         img {
        //             width: 90%;
        //             height: auto;
        //             max-width: 400px;
        //         }
        //     }
        // }

    }

    .attributes-outer-wrap {
        .attribute {

            h1, h2 {
                max-width: 10ch;
                word-break: break-word;
            }
        }
    }
}

@media #{$desktop} {
    //****  Collections page ****/

    .collection-grid-section {
        // .child-collection-inner-wrap {

        //     .description {
        //         width: 70%;
        //     }

        //     .logo-block {
        //         width: 25%;

        //         img {
        //             width: 80%;
        //         }
        //     }
        // }

    }
}

@media #{$wide} {

    //****  Product single ****/
    .product-section {
        .product-outer {

            .grid-row-cols--2 {
                grid-auto-flow: column;
                grid-template-columns: .55fr .45fr;
                grid-column-gap: 130px;
                grid-template-areas:
                    'gallery title' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'gallery price-form' 
                    'description specifics';
            }
    
            
        }
    }
    
}

