//****  Product single ****/

.product-section {

    // .product-title {
    //     font-size: 5rem !important;
    // }
    .product-outer {
        @include sideWrap;


        .product-inner {
            // @include verticalWrap-large-top;
            // @include verticalWrap-medium-large-bottom;
        }


        .product-gallery-wrap { grid-area: gallery; }
        .product-title { 
            grid-area: title; 
        }
        .product-price-form { grid-area: price-form; }
        .description-wrap { 
            grid-area: description; 
            @include verticalWrap-smallmedium;
        }
        .specifics-list-wrap { 
            grid-area: specifics;
            @include verticalWrap-smallmedium;
        }

        .grid-row-cols--2 {
			grid-template-areas:
				'title'
				'gallery'
                'price-form'
				'specifics'
                'description';
        }

        .product-gallery-wrap {
            width: 100% !important;

            .top-carousel {
                .media-block > * {
                    height: 480px;
                    max-height: 90vh;
                }
            }

            .bottom-carousel {
                // height: 150px;
    
                .media-block > * {
                    height: 150px;
                    cursor: pointer;
                }
            }

            .product-gallery-item-wrap {
                @include halfSideWrap;

                .media-block > * {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }

            }
        }
               
            .product-vendor {
                margin-bottom: 0 !important;
            }

            // .form-fields--qty {
            //     width: auto !important;
            // }

            .price {
                @include verticalWrap-smallmedium;
            }

            // .variants-ui__option-values {
            //     @include marginTopNone;
            // }

            // .variants-ui__option-name {
            //     @include marginTopBottomNone;
            // }

            .product-price-form {

                h4 {
                    @include fitContentHeight;
                }

                .product-form__quantity {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-grow: 0;
                }

                .quantity {
                    display: flex;
                    flex-grow: 0;
                    position: relative;

                    & > * {
                        border-top: 1px solid $black !important;
                        border-bottom: 1px solid $black !important;
                    } 

                   
                    .product-quantity-select {
                        position: relative;
                        width: 58px !important;
                        max-width: 58px !important;
                        border-left: 1px solid $black !important;
                        border-top-left-radius: 3px !important;
                        border-bottom-left-radius: 3px !important;
                        border-right: none !important;
                        @include fitContentWidth;
                        cursor: auto !important;
                        justify-content: center;
                        display: flex;
                        text-align: center;
                    }
                    .quantity-selector {
                        width: 58px;
                        height: 60px;
                        padding: 2px;
                        border-right: 1px solid $black;
                        border-left: 1px solid $black;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                .plus, .minus {
                    width: 100%;
                    height: 50%;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '';
                        background-image: url(arrow-right.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                        position: absolute;
                        width: 15.8px;
                        height: 14px;
                        left: calc(50% - 7.4px);
                    }
                }

                .plus {
                    &::after {
                        transform: rotate(-90deg);
                        background-position: center top;
                        top: 4px;
                    }
                }

                .minus {
                    &::after {
                        transform: rotate(90deg);
                        background-position: center bottom;
                        bottom: 4px;
                    }
                }
            }
        }
}

@media #{$mobile} {
    .product-section {
        .bottom-carousel {
            display: none;
        }
    }
}

@media #{$wide} {
    .product-section {
        .product-outer {

            .grid-row-cols--2 {
                grid-auto-flow: column;
                grid-template-columns: .55fr .45fr;
                grid-column-gap: 130px;
                grid-template-areas:
                    'gallery title'
                    'gallery price-form'
                    'description specifics';
            }
    
            
        }
    }
    
}



// <div class="product-form--atc">
//     <div class="product-form--atc-qty form-fields--qty" data-quantity-wrapper>
//         <div class="form-field form-field--qty-select">
//             <div class="formfield-with-label-wrapper">
//                 <div class="form-field-select-wrapper quantity-select-wrapper">
//                     <input
//                     id="product-quantity-select"
//                     class="form-field-input form-field-select"
//                     aria-label="{{ 'general.general.quantity' | t }}"
//                     data-quantity-select
//                     value="1"
//                     >
//                     <div class="quantity-selector">
//                         <span class="upgrade"></span><span class="downgrade></span>
//                     </div>
//                     <div class="form-field form-field--qty-input hidden">
//                     <input
//                       id="product-quantity-input"
//                       class="form-field-input form-field-number form-field-filled"
//                       value="1"
//                       name="quantity"
//                       type="text"
//                       pattern="\d*"
//                       aria-label="{{ 'general.general.quantity' | t }}"
//                       data-quantity-input
//                     >
//                     <label
//                       for="product-quantity-input"
//                       class="form-field-title"
//                     >
//                       {{ 'general.general.quantity' | t }}
//                     </label>
//                   </div>
//                 </div>
//                 <label
//                     for="product-quantity-select"
//                         class="form-field-title"
//                         >
//                     {{ 'general.general.quantity' | t }}
//                 </label> 
//             </div> 
//         </div>
//     </div>
//     <button
//         class="product-form--atc-button {% if selected_variant and selected_variant.available == false %}disabled{% endif %}"
//         type="submit"
//         {% if selected_variant and selected_variant.available == false %}disabled{% endif %}
//         data-product-atc
//         >
//         <span class="atc-button--text">
//             {% unless selected_variant and selected_variant.available == false %}
//             {{ 'product.buttons.add_to_cart' | t }}
//             {% else %}
//             {{ 'product.buttons.sold_out' | t }}
//             {% endunless %}
//         </span>
//         <span class="atc-button--icon">
//             {%- render 'icon-spinner' -%}
//         </span>
//     </button>
// </div>