.section-title {

	&:not(.small-title) {
		// padding-bottom: 5rem;
	}
	h2 {
		padding: 0;
		margin: 0;
	}

	
    &.small-title {
        margin-bottom: 15px;
    }
}

.section-with-breadcrumbs {
	
}


.lightblue-element-bottom, .darkblue-element-bottom  {
	position: relative;

	&::after {
		content: '';
		display: block;
		background-position: top;
		position: absolute;
		height: 27px;
		width: 100%;
		bottom: 0;
		z-index: 1;
	}

	&:not([class*="carousel"]) > *:last-child > *:last-child {
		margin-bottom: 27px !important;
		margin-block-end: 27px;
		writing-mode: horizontal-tb;
	}
}
.lightblue-element-bottom, .darkblue-element-bottom {
	bottom: 0;
} 

.lightblue-element-top, .darkblue-element-top {
	top: 0;
	&:not([class*="carousel"]) > *:last-child > *:last-child {
		margin-top: 27px !important;
		margin-block-start: 27px;
		writing-mode: horizontal-tb;
	}
} 

.darkblue-element-bottom, .darkblue-element-top {
	&::after {
		background-image: url('darkblue-element.png');
	}
}

.lightblue-element-bottom, .light-element-top {
	&::after {
		background-image: url('lightblue-element.png');
	}
}

section.slideshow {
	margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.article--excerpt-wrapper {
	box-shadow: none !important;
	border: 0 !important;
}


/****Accordion section *****/

.accordion-section {
	width: 100%;
	@include verticalWrap-tiny;
	.accordion-inner-section {
		width: 100%;


		.accordion-item-wrap {
			width: 100%;
			.accordion-title-wrap {
				padding: 1.5em 0;
				border-top: 1px solid $black;
				border-bottom: 1px solid $black;
				display: flex;
				justify-content: space-between;
				cursor: pointer;

			}

			.accordion-item-content {
				height: 0;
				overflow: hidden;
				@include transition;
			}

			.content-inner-wrap {
				padding: 30px;
			}

			.accordion-arrow {
				height: 16px;
				width: 16px;
				position: relative;
				top: 5px;

				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					transform: rotate(90deg);
					@include transition;
				}
			}

			.accordion-arrow-darkblue {
				&::after {
					background-image: url(arrows-darkblue.png);
				}
			}

			.accordion-arrow-lightblue {
				&::after {
					background-image: url(arrows-lightlue.png);
				}
			}

			.accordion-arrow-white {
				&::after {
					background-image: url(arrows-white.png);
				}
			}

			&.active {
				.accordion-arrow {
					&::after {
						transform: rotate(-90deg);
					}
				}
			}
		}

	}
}

.modal__content {
	background-color: rgba(0, 20, 65, .4);

	svg {
		color: $lightBlue;
	}
}


