

/* second section */

// #shopify-section-162807599604e4f304 {
  
//     .promo-grid--container {
//         margin-top: -140px !important;
//         padding-left: 0 !important;
//         padding-right: 0 !important;
//     }

// }

// #shopify-section-1628179167816caf00 {
// 	.promo-grid--inner.promo-grid__columns--4 {
// 		grid-template-columns: repeat(5,1fr) !important;
// 		grid-gap: 90px;

// 		.promo-block {
// 			height: 130px !important;
// 			min-height: 130px !important;
// 			img {
// 				object-fit: contain !important;
// 			}
// 		}
// 	}
// }

// #shopify-section-162807599604e4f304, #shopify-section-162810068578f98687, #shopify-section-1628087120f5a12e90, #shopify-section-16280872372afe42fb, #shopify-section-162808856144cd6a96, #shopify-section-1628179148cbdc1c18, #shopify-section-1628179167816caf00 {
// 	@include sideWrap;
// }

.section-title {
	&:not(.small-title) {
		padding-bottom: 5rem;
	}
	h2 {
		padding: 0;
		margin: 0;
	}

	
    &.small-title {
        margin-bottom: 15px;
    }
}


.lightblue-element-bottom, .darkblue-element-bottom  {
	position: relative;

	&::after {
		content: '';
		display: block;
		background-position: top;
		background-size: cover;
		position: absolute;
		height: 27px;
		width: 100%;
		bottom: 0;
	}

	& > *:last-child > *:last-child {
		margin-bottom: 27px !important;
	}
}
.lightblue-element-bottom, .darkblue-element-bottom {
	bottom: 0;
} 

.lightblue-element-top, .darkblue-element-top {
	top: 0;
} 

.darkblue-element-bottom, .darkblue-element-top {
	&::after {
		background-image: url('darkblue-element.png');
	}
}

.lightblue-element-bottom, .light-element-top {
	background-color: $lightBlue !important;
	&::after {
		background-image: url('lightblue-element.png');
	}
}

// main {
// 	@include verticalWrap-bottom;
// }

// #shopify-section-162807599604e4f304 .promo-grid--inner  {
// 	height: 450px !important;
// }
///////
// .lightblue_background { 
//   background-color: #66D1FF; 
// max-width: 100vw !important; padding-right: 0 !important;; padding-left: 0 !important;; margin-left: 0 !important;; margin-right: 0 !important;}

section.slideshow {
	margin-top: 0 !important;
    margin-bottom: 0 !important;
}

iframe {
	border: none !important;
	-webkit-box-shadow:  -1px 1px 8px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:  -1px 1px 8px 5px rgba(0,0,0,0.2);
	box-shadow:   -1px 1px 8px 5px rgba(0,0,0,0.2);
}

.article--excerpt-wrapper {
	box-shadow: none !important;
	border: 0 !important;
}


@media #{$tabletMax} {

	.promo-grid--section {
		.promo-grid--inner {
			.promo-block--content {
				// padding: .15em;
			}
		}
	}

}

.modal__content {
	background-color: rgba(0, 20, 65, .4);

	svg {
		color: $lightBlue;
	}
}
