@font-face {
    font-family: "Kanit";
    src: url('Kanit-Bold.woff') format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: "Kanit";
    src: url('Kanit-BoldItalic.woff') format("woff");
    font-weight: 700;
    font-style: bold italic;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-SemiBoldItalic.woff') format("woff");
    font-weight: 600;
    font-style: bold italic lighter;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-Light.woff') format("woff");
    font-weight: 400;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-LightItalic.woff') format("woff");
    font-weight: 400;
    font-style: light italic;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('manrope-extrabold.woff') format("woff");
    font-weight: 800;
    font-style: extrabold;
    font-display: swap;
}

@font-face {
    font-family: "MinionPro";
    src: url('MinionPro-Regular.woff') format("woff");
    font-weight: 500;
    font-style: regular;
    font-display: swap;
}

html {
    font-size: 62.5% !important;
    color: $black;
    font-family: "Kanit" !important;
    font-weight: 400;
}

$fonts: (
    "h1" : 8rem,
    "h2" : 5rem, 
	"h3" : 3.6rem, 
    "h4" : 3.2rem, 
    "label": 3.2rem, 
/*     "h4" : 2rem, */
    "h5" : 2.6rem, 
    "h6" : 2.3rem,
    "p": 2.6rem, 
/*     "li": 1.5rem,  */
/*     "a": 1.5rem  */
);


$mobileFonts: (
    "h1" : 5rem,
    "h2" : 4rem, 
	"h3" : 3rem, 
    "h4" : 2.5rem, 
    "h6" : 2rem,
    "p": 2.3rem, 
);

@each $name, $value in $fonts {
    #{$name} {
        font-size: $value;
    }
}

@media #{$mobile} {
    @each $name, $value in $mobileFonts {
        #{$name} {
            font-size: $value;
        }
    }

    html .section-title {
    
        &.large-title h2 {
            font-size: 4.5rem;
        }
    }
}

ul {
    text-decoration: none !important;
}

// h1, h2, h3, h4, h5, h6, p {
//     padding-bottom: 1.4em;
// }
h1, h2, h3, h4, h6 {
    font-style: italic;
    font-weight: 700;
}

h4 span {
    font-weight: 300;
}
h5 {
    font-style: italic;
    font-weight: 500;
}
h2, h3, h4, h5, h6, p, a {
    line-height: 1.2em;
}



a {
    line-height: 1.3em;
}

h1 {
    line-height: 1em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Kanit" !important;
}

ul {
    list-style: none;
}

.product--section {

    .product-gallery {
        .product-gallery--expand {
            font-size: 1.2rem !important;
        }
    }

    .product--container {
        a {
            color: $lightBlue;
        }
    }
    .product-vendor {
        font-weight: 400 !important;
    }

    .product-title {
        font-weight: 400 !important;
    }

    .product__price  {
        span {
            color: $lightBlue !important;
            font-size: 3.2rem;
        }
    }

    .variants-ui__option-name {
        font-style: italic;
        font-weight: 400 !important;
    }
}

h2 {
    margin-bottom: 30px;
    margin-top: 0 !important;
}

div p:not(:last-child) {
    margin-bottom: .5em;
}

html body a {
    text-decoration: none !important;
}

.announcement-bar {
    h1, h2, h3, h4, h5, p, a, span {
        font-size: 1.6rem !important;
        font-weight: 700;
        color: $whiteColor;
    }
}


.textAlignLeft {
    h1, h2, h3, h4, h5, p {
        text-align: left;
    }
}
.textAlignRight {
    h1, h2, h3, h4, h5, p {
        display: block;
        text-align: right;
    }
}
.textAlignCenter {
    h1, h2, h3, h4, h5, p {
        display: block;
        text-align: center;
    }
}


section.slideshow {
    .slideshow-slide__heading {
        font-size: 8rem !important;
        font-weight: 700 !important;
        line-height: 1em !important;
    }

    .slideshow-slide__text {
        font-size: 2.6rem !important;
        font-weight: 300 !important;
        font-style: italic;
    }

    .slideshow-slide__paragraph {
        font-size: 2.6rem !important;
        font-weight: 300 !important;
    }

    .slideshow-slide__button {
        font-size: 3.3rem !important;
    }
}

.shopify-section-announcement-bar {
    h1, h2, h3, h4, h5, h6, p, a {
        color: $whiteColor;
    }
}

header {
    .list-menu {
        & > li {
            a, span {
                font-size: 2.2rem !important;
                color: $whiteColor !important;
                font-weight: 400 !important;
            }

            svg path {
                fill: $whiteColor;
            }
        }
    }


    .navmenu-depth-2 {

        li {
            a {
                color: $darkBlue !important;
            }
        }
        & > .navmenu-item-parent {
            a {
                font-weight: 700;
                font-size: 2.7rem !important;
            }

           & > .navmenu-item-parent {
               a {
                    font-weight: 700;
                    font-size: 2.5rem !important;
               }
           }
        }
    }
}

// .promo-grid--section {
// 	.grid-cols--4 {
// 		h2, p, h4 {
// 			color: $whiteColor !important;
// 		}
//     }

//     .img-top {
//         p, a, h1, h2, h3, h4, h5, h4, span {
//             color: $black !important;
//         }
//         // .button-primary {
            
//         //     &:hover {
//         //         color: $lightBlue !important;
//         //     }
// 		// }
//     }
// }

@media (max-width: 1550px) {
    header {
        .list-menu {
            & > li {
                a, span {
                    font-size: 2rem !important;
                }
            }
        }
    }
} 
  
.button:not(.small) {
   font-size: 3.3rem !important;
   font-style: italic !important;
}


.button.small {
    font-size: 2.2rem !important;
    font-style: italic !important;
 }

.white-txt {
    color: $whiteColor !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $whiteColor!important;
    }
}


.black-txt {
    color: $black !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $black !important;
    }

}


.darkblue-txt {
    color: $darkBlue !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $darkBlue !important;
    }

}

.lightblue-txt {
    color: $lightBlue !important;

    p, h1, h2, h3, h4, h5, h4, span, a {
        color: $lightBlue !important;
    }

}

.red-txt {
    color: $red !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $red !important;
    }

}

.yellow-txt {
    color: $yellow !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $yellow!important;
    }
}

.section-title {
    &:not(.large-title) h2 {
        font-size: 5rem;
        text-align: center;
    }

    &.large-title h2 {
        font-size: 8rem;
        line-height: 1em;
    }

    .small-title {
        h3 {
            line-height: 1.1em;
        }
    }
}

.footer__content-bottom {
    small, a {
        color: $whiteColor;
    }
}

 .products-carousel {
    h6 a {
        font-size: 2.3rem !important;
        font-weight: 400;
        line-height: 1.2em;
    }

    h4 a {
        font-size: 3.2rem !important;
        font-weight: 400;
        line-height: 1.2em;
        // font-weight: 700;
    }

    .white {
        a, p {
            color: $darkBlue;
        }
    }

    .blue {
        a, p {
            color: $whiteColor;
        }
    }

    .white, .blue {

        &:hover
        a {
            color: $lightBlue !important;
        }
    }
}


.subheading {
    .lightblue-txt {
        color: $lightBlue !important
    }
}

.subheading {
    .blue-txt {
        color: $darkBlue !important
    }
}

.subheading {
    .black-txt {
        color: $black !important
    }
}

.subheading {
    .white-txt {
        color: $whiteColor !important
    }
}

form {
    label, input, p, h1, h2, h3, h4, h5 {
        color: $black !important;
    }
}
  
html body footer {
  p, a, h2 {
      font-size: 2.2rem !important;
  }

  h1, h2, h3, h4, h5, h6, p, li, a {
      color: $whiteColor;
  }

  a:hover {
    color: $lightBlue !important;
  }



    .site-footer-item:nth-child(1) {
        .site-footer-blocks {
            .site-footer-block-item:nth-child(2) {
                a {
                    color: $lightBlue !important;
                }
            }
        }
    }
 
}

@media #{$tablet} {
    .full-img {
		.grid-item-inner-wrapper {

            h2, h3 {
                font-size: 4.5rem;
            }
        }
    }
}