@font-face {
    font-family: "Kanit";
    src: url('Kanit-Bold.woff') format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: "Kanit";
    src: url('Kanit-BoldItalic.woff') format("woff");
    font-weight: 700;
    font-style: bold italic;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-SemiBoldItalic.woff') format("woff");
    font-weight: 600;
    font-style: bold italic lighter;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-Light.woff') format("woff");
    font-weight: 400;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url('Kanit-LightItalic.woff') format("woff");
    font-weight: 400;
    font-style: light italic;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('manrope-extrabold.woff') format("woff");
    font-weight: 800;
    font-style: extrabold;
    font-display: swap;
}

@font-face {
    font-family: "MinionPro";
    src: url('MinionPro-Regular.woff') format("woff");
    font-weight: 500;
    font-style: regular;
    font-display: swap;
}

html {
    font-size: 62.5% !important;
    color: $black;
    font-family: "Kanit" !important;
    font-weight: 400;
}

$fonts: (
    "h1" : 8rem,
    "h2" : 5rem, 
	"h3" : 3.6rem, 
    "h4" : 3.2rem, 
    "label": 3.2rem, 
/*     "h4" : 2rem, */
    "h5" : 2.6rem, 
    "h6" : 2.3rem,
    "p": 2.6rem, 
/*     "li": 1.5rem,  */
/*     "a": 1.5rem  */
);


$mobileFonts: (
    "h1" : 5rem,
    "h2" : 4rem, 
	"h3" : 3rem, 
    "h4" : 2.5rem, 
    "h6" : 2rem,
    "p": 2.3rem, 
);

@each $name, $value in $fonts {
    #{$name} {
        font-size: $value;
    }
}


html .section-title {
    &.inner-page {
        h2 {
            padding-top: 3rem;
            padding-bottom: calc(10rem - .6em);
            padding-bottom: -webkit-calc(10rem - .6em);
        }
    }
}

@media #{$mobile} {
    @each $name, $value in $mobileFonts {
        #{$name} {
            font-size: $value;
        }
    }

    html .section-title {
        h1 {
            font-size: 4rem;
            text-align: center;
        }
        &.large-title h2 {
            font-size: 4.5rem;
        }

        // h2 {
        //     margin-bottom: 5rem;
        // }

        &.inner-page {
            h2 {
                padding-top: 1rem;
                padding-bottom: calc(4rem - .6em);
                padding-bottom: -webkit-calc(4rem - .6em);
            }
        }
    }

    .grid-list-wrapper {
		.full-img {
            h4, h2 {
				font-size: 4rem;
			}
        }
    }
}

.contact-form  {
    span {
        font-size: 1.6rem;
    }
}

ul {
    text-decoration: none !important;
}

h1, h2, h3, h4, h6 {
    font-style: italic;
    // font-style: bold italic;
    font-weight: 700;
}

h4, h1, h2, h3, h4, h5, h6 {
    span {
        font-weight: 300;
        // font-style: light italic;
    }
} 
h5 {
    font-style: italic;
    // font-style: bold italic lighter;
    font-weight: 500;
}
h2, h3, h4, h5, h6, p, a {
    line-height: 1.2em;
}



a {
    line-height: 1.3em;
}

h1 {
    line-height: 1em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    font-family: "Kanit" !important;
}

ul {
    list-style: none;
}

.product-section {

    .product-gallery {
        .product-gallery--expand {
            font-size: 1.2rem !important;
        }
    }

    .product--container {
        // a {
        //     color: $lightBlue;
        // }
    }
    .product-vendor {
        // font-style: light;
        font-weight: 400 !important;
        color: $lightBlue;
    }

    .product-title {
        // font-style: light;
        font-weight: 400 !important;
    }

    .price  {
        color: $lightBlue !important;
        font-size: 3.2rem;
    }

    .product-form__quantity {
        h4 {
            // font-style: light;
            font-weight: 400;
        }
    }

}

a {
    color: $black;
}

h2, h1 {
    margin-bottom: .6em !important;
    margin-top: 0 !important;
}

.large-title {

    h2, h1 {
        margin-bottom: .4em !important;
        margin-top: 0 !important;
    }
}

.large-title {

    h2, h1 {
        max-width: 18ch;
    }
}

div p:not(:last-child) {
    margin-bottom: .1em;
}

html body a {
    text-decoration: none !important;
}

.announcement-bar {
    h1, h2, h3, h4, h5, p, a, span {
        font-size: 1.6rem !important;
        font-weight: 700;
        color: $whiteColor;
    }
}

a[href*="http"], a[href*="https"], .product__description a {
    color: $lightBlue;
}


.textAlignLeft {
    h1, h2, h3, h4, h5, p {
        text-align: left;
    }
}
.textAlignRight {
    h1, h2, h3, h4, h5, p {
        display: block;
        text-align: right;
    }
}
.textAlignCenter {
    h1, h2, h3, h4, h5, p {
        display: block;
        text-align: center;
    }
}


section.slideshow {
    .slideshow-slide__heading {
        font-size: 8rem !important;
        font-weight: 700 !important;
        line-height: 1em !important;
    }

    .slideshow-slide__text {
        font-size: 2.6rem !important;
        font-weight: 300 !important;
        font-style: italic;
        // font-style: light italic;
    }

    .slideshow-slide__paragraph {
        font-size: 2.6rem !important;
        // font-style: light;
        font-weight: 400 !important;

    }

    .slideshow-slide__button {
        font-size: 3.3rem !important;
    }
}

.shopify-section-announcement-bar {
    h1, h2, h3, h4, h5, h6, p, a {
        color: $whiteColor;
    }
}

header {
    .list-menu {
        & > li {
            a, span {
                font-size: 2.2rem !important;
                color: $whiteColor !important;
                // font-style: light;
                font-weight: 400 !important;
            }

            svg path {
                fill: $whiteColor;
            }
        }

        .header-submenu-inner {
            .submenu-item-link-level-1 {
                font-size: 3rem !important;
                font-weight: 700 !important;
            }
            .submenu-item-link-level-2, .submenu-item-link-level-3 {
                font-size: 2.6rem !important;
            }

            .vendor-submenu-item {
                font-weight: 700;
            }
        }
    }


    .navmenu-depth-2 {

        li {
            a {
                color: $darkBlue !important;
            }
        }
        & > .navmenu-item-parent {
            a {
                font-weight: 700;
                font-size: 2.7rem !important;
            }

           & > .navmenu-item-parent {
               a {
                    font-weight: 700;
                    font-size: 2.5rem !important;
               }
           }
        }
    }
}

.breadcrumbs a {
    color: $lightBlue;
    font-size: 2.2rem;
    font-style: light italic;
    // font-style: italic;
}


@media (max-width: 1550px) {
    header {
        .list-menu {
            & > li {
                a, span {
                    font-size: 2rem !important;
                }
            }
        }
    }
} 
  
.button:not(.small), .shopify-payment-button__button {
   font-size: 3.3rem !important;
//    font-style: bold italic;
   font-style: italic !important;

}


.button.small {
    font-size: 2.2rem !important;
    // font-style: bold italic;
    font-style: italic !important;
 }

.white-txt {
    color: $whiteColor !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $whiteColor!important;
    }
}


.black-txt {
    color: $black !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
        color: $black !important;
    }

}


.darkblue-txt {
    color: $darkBlue !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $darkBlue !important;
    }

}

.lightblue-txt {
    color: $lightBlue !important;

    p, h1, h2, h3, h4, h5, h4, span, a {
        color: $lightBlue !important;
    }

}


.red-txt {
    color: $red !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $red !important;
    }

}

.yellow-txt {
    color: $yellow !important;

    p, a, h1, h2, h3, h4, h5, h4, span, a {
    color: $yellow!important;
    }
}

.section-title {
    h1 {
        font-size: 5rem;
    }
    &:not(.large-title):not(.product-title) h2 {
        font-size: 5rem;
    }

    &.large-title h2 {
        font-size: 8rem;
        line-height: 1em;
    }

    .small-title {
        h3 {
            line-height: 1.1em;
        }
    }
}

.article-date {
    font-size: 2.2rem;
    // font-style: light italic;
    font-style: italic;
}

.footer__content-bottom {
    small, a {
        color: $whiteColor;
    }
}

 .products-carousel {
    h6 a {
        font-size: 2.3rem !important;
        font-weight: 400;
        // font-style: light;
        line-height: 1.2em;
    }

    h4 a {
        font-size: 3.2rem !important;
        // font-style: light;
        font-weight: 400;
        line-height: 1.2em;
    }

    .white {
        a, p {
            color: $darkBlue;
        }
    }

    .blue {
        a, p {
            color: $whiteColor;
        }
    }

    .white, .blue {

        &:hover
        a {
            color: $lightBlue !important;
        }
    }
}

.accordion-section {

	.accordion-item-wrap {
        .accordion-title-wrap {
            h5 {
                font-style: normal !important;
                font-weight: bold;
            }
        }
    }

}


.subheading {
    .lightblue-txt {
        color: $lightBlue !important;

        label, input, p, h1, h2, h3, h4, h5  {
            color: $lightBlue !important
        }
    }
}

.subheading {
    .blue-txt {
        color: $darkBlue !important;

        label, input, p, h1, h2, h3, h4, h5  {
            color: $darkBlue !important
        }
    }
}

.subheading {
    .black-txt {
        color: $black !important;

        label, input, p, h1, h2, h3, h4, h5  {
            color: $black !important;
        }
    }
}

.subheading {
    .white-txt {
        color: $whiteColor !important;
        label, input, p, h1, h2, h3, h4, h5  {
            color: $whiteColor !important
        }
    }
}

form {
    label, input, p, h1, h2, h3, h4, h5 {
        color: $black !important;
    }
}
  
html body footer {
  p, a, h2 {
      font-size: 2.2rem !important;
  }

  h1, h2, h3, h4, h5, h6, p, li, a {
      color: $whiteColor;
  }

  a:hover {
    color: $lightBlue !important;
  }



    .site-footer-item:nth-child(1) {
        .site-footer-blocks {
            .site-footer-block-item:nth-child(2) {
                a {
                    color: $lightBlue !important;
                }
            }
        }
    }
 
}

@media #{$tablet} {
    .full-img {
		.grid-item-inner-wrapper {

            h2, h3 {
                font-size: 4.5rem;
            }
        }
    }
}