$black: #001441; 
$overlayBlack: #233237;
$blackTransparent:rgba(0, 20, 65, .4);
$blackTransparentLighter:rgba(0, 20, 65, .25);
$whiteColor: #fff;
$lightBlue: #00B1FF;
$lightblueBackground: #66D1FF;
$darkBlue: #01426c;
$darkerBlue: #1A2C54;
$red: #F03524;
$yellow: #FFD568;


$tablet: "only screen and(min-width: 768px)";
$desktop: "only screen and(min-width: 991px)";
$wide: "only screen and(min-width: 1216px)";
$fullhd: "only screen and(min-width: 1408px)";
$mobile: "only screen and (max-width: 767px)";
$tabletMax: "only screen and (max-width: 990px)";
$desktopMax: "only screen and(max-width: 1408px)";
