$black: #001441; 
$overlayBlack: #233237;
$blackTransparent:rgba(0, 20, 65, .4);
$blackTransparentLighter:rgba(0, 20, 65, .25);
$whiteColor: #fff;
$lightBlue: #00B1FF;
$lightblueBackground: #66D1FF;
$secondaryLightBlue: #05b2ff;
$darkBlue: #01426c;
$darkerBlue: #1A2C54;
$red: #F03524;
$yellow: #FFD568;

// $tablet: "only screen and(min-width: 768px)";
// $desktop: "only screen and(min-width: 991px)";
// $wideMax: "only screen and(max-width: 1215px)";
// $wide: "only screen and(min-width: 1216px)";
// $fullhd: "only screen and(min-width: 1408px)";
// $mobile: "only screen and (max-width: 767px)";
// $tabletMax: "only screen and (max-width: 990px)";
// $desktopMax: "only screen and(max-width: 1408px)";
$tablet: "only screen and(min-width: 48rem)";
$desktop: "only screen and(min-width: 61.938rem)";
$wideMax: "only screen and(max-width: 75.938rem)";
$wide: "only screen and(min-width: 76rem)";
$fullhd: "only screen and(min-width: 88rem)";
$mobile: "only screen and (max-width: 47.938rem)";
$tabletMax: "only screen and (max-width: 61.875rem)";
$desktopMax: "only screen and(max-width: 88rem)";