$black: #001441; 
$whiteColor: #fff;
$lightBlue: #00B1FF;
$darkBlue: #01426c;
$darkerBlue: #1A2C54;
$red: #F03524;
$yellow: #FFD568;


$tablet: "only screen and(min-width: 768px)";
$desktop: "only screen and(min-width: 991px)";
$wide: "only screen and(min-width: 1216px)";
$fullhd: "only screen and(min-width: 1408px)";
$mobile: "only screen and (max-width: 768px)";
$tabletMax: "only screen and (max-width: 991px)";