@charset "UTF-8";
@font-face {
  font-family: "Kanit";
  src: url("Kanit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap; }
@font-face {
  font-family: "Kanit";
  src: url("Kanit-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: bold italic;
  font-display: swap; }
@font-face {
  font-family: "Kanit";
  src: url("Kanit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: bold;
  font-display: swap; }
@font-face {
  font-family: "Kanit";
  src: url("Kanit-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: bold italic lighter;
  font-display: swap; }
@font-face {
  font-family: "Kanit";
  src: url("Kanit-Light.woff") format("woff");
  font-weight: 400;
  font-style: light;
  font-display: swap; }
@font-face {
  font-family: "Kanit";
  src: url("Kanit-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: light italic;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("manrope-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: extrabold;
  font-display: swap; }
@font-face {
  font-family: "MinionPro";
  src: url("MinionPro-Regular.woff") format("woff");
  font-weight: 500;
  font-style: regular;
  font-display: swap; }
html {
  font-size: 62.5% !important;
  color: #001441;
  font-family: "Kanit" !important;
  font-weight: 400; }

h1 {
  font-size: 8rem !important; }

h2 {
  font-size: 5rem !important; }

h3 {
  font-size: 3.6rem !important; }

h4 {
  font-size: 3.2rem !important; }

h6 {
  font-size: 2.3rem !important; }

p {
  font-size: 2.6rem !important; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 7rem !important; }

  h2 {
    font-size: 4rem !important; }

  h3 {
    font-size: 3rem !important; }

  h4 {
    font-size: 2.5rem !important; }

  h6 {
    font-size: 2rem !important; }

  p {
    font-size: 2.3rem !important; } }
h1, h2, h3, h4, h5, h6 {
  font-style: italic !important;
  font-weight: 700 !important;
  line-height: 1.2em; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Kanit" !important; }

h2 {
  margin-bottom: 30px;
  margin-top: 0 !important; }

div p:not(:last-child) {
  margin-bottom: 30px; }

html body a {
  text-decoration: none !important; }

.announcement-bar-text a {
  font-size: 1.6rem !important;
  font-weight: 700; }

.textAlignLeft h1, .textAlignLeft h2, .textAlignLeft h3, .textAlignLeft h4, .textAlignLeft h5, .textAlignLeft p {
  text-align: left; }

.textAlignRight h1, .textAlignRight h2, .textAlignRight h3, .textAlignRight h4, .textAlignRight h5, .textAlignRight p {
  display: block;
  text-align: right; }

.textAlignCenter h1, .textAlignCenter h2, .textAlignCenter h3, .textAlignCenter h4, .textAlignCenter h5, .textAlignCenter p {
  display: block;
  text-align: center; }

section.slideshow .slideshow-slide__heading {
  font-size: 8rem !important;
  font-weight: 700 !important;
  line-height: 1em !important; }
section.slideshow .slideshow-slide__text {
  font-size: 2.6rem !important;
  font-weight: 300 !important;
  font-style: italic; }
section.slideshow .slideshow-slide__paragraph {
  font-size: 2.6rem !important;
  font-weight: 300 !important; }
section.slideshow .slideshow-slide__button {
  font-size: 3.3rem !important; }

header .navmenu-depth-1 li a {
  font-size: 2.2rem !important;
  color: #fff !important;
  font-weight: 400 !important; }
header .navmenu-depth-2 li a {
  color: #01426c !important; }
header .navmenu-depth-2 > .navmenu-item-parent a {
  font-weight: 700;
  font-size: 2.7rem !important; }
header .navmenu-depth-2 > .navmenu-item-parent > .navmenu-item-parent a {
  font-weight: 700;
  font-size: 2.5rem !important; }

.promo-grid--section .promo-grid__columns--4 h2, .promo-grid--section .promo-grid__columns--4 p, .promo-grid--section .promo-grid__columns--4 h4 {
  color: #fff !important; }
.promo-grid--section .img-top p, .promo-grid--section .img-top a, .promo-grid--section .img-top h1, .promo-grid--section .img-top h2, .promo-grid--section .img-top h3, .promo-grid--section .img-top h4, .promo-grid--section .img-top h5, .promo-grid--section .img-top h4, .promo-grid--section .img-top span {
  color: #001441 !important; }
.promo-grid--section .img-top .button-primary:hover {
  color: #00B1FF !important; }

@media (max-width: 1550px) {
  header .navmenu-depth-1 li a {
    font-size: 2rem !important; } }
html body .btn, button, .button-primary:not(footer > .button-primary) {
  font-size: 3.3rem !important;
  font-style: italic !important; }

footer > .button-primary {
  font-size: 2.2rem !important;
  font-style: italic !important; }

.products-carousel h6 a {
  font-size: 2.3rem !important;
  font-weight: 400;
  line-height: 1.2em; }
.products-carousel h4 a {
  font-size: 3.2rem !important;
  font-weight: 400;
  line-height: 1.2em; }
.products-carousel .white a, .products-carousel .white p {
  color: #01426c; }
.products-carousel .blue a, .products-carousel .blue p {
  color: #fff; }
.products-carousel .white:hover
a, .products-carousel .blue:hover
a {
  color: #00B1FF !important; }

html body footer p, html body footer a, html body footer h2 {
  font-size: 2.2rem !important; }
html body footer h1, html body footer h2, html body footer h3, html body footer h4, html body footer h5, html body footer h6, html body footer p, html body footer li, html body footer a {
  color: #fff !important; }
html body footer a:hover {
  color: #00B1FF !important; }
html body footer .site-footer-item:nth-child(1) .site-footer-blocks .site-footer-block-item:nth-child(2) a {
  color: #00B1FF !important; }

html {
  scroll-behavior: smooth; }

.horizontal-wrap > * {
  padding-left: 4vw !important;
  padding-right: 4vw !important; }
  @media only screen and (min-width: 991px) {
    .horizontal-wrap > * {
      padding-left: 2vw !important;
      padding-right: 2vw !important;
      max-width: 1408px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }
  @media only screen and (min-width: 1408px) {
    .horizontal-wrap > * {
      padding-left: .5vw !important;
      padding-right: .5vw !important; } }

.n-gap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.sm-v_gap > *:not(.blogposts--container) {
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.sm-v_gap.blogposts--container {
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.sm-t-v_gap:not(.blogposts--container) > * {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .sm-t-v_gap:not(.blogposts--container) > * {
      padding-top: 3rem; } }

.sm-t-v_gap.blogposts--container {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .sm-t-v_gap.blogposts--container {
      padding-top: 3rem; } }

.sm-bt-v_gap:not(.blogposts--container) > * {
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.sm-bt-v_gap.blogposts--container {
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-v_gap:not(.blogposts--container) > * {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-v_gap:not(.blogposts--container) > * {
      padding-top: 3rem; } }
  @media only screen and (min-width: 991px) {
    .m-v_gap:not(.blogposts--container) > * {
      padding-bottom: 3rem; } }

.m-v_gap.blogposts--container {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-v_gap.blogposts--container {
      padding-top: 3rem; } }
  @media only screen and (min-width: 991px) {
    .m-v_gap.blogposts--container {
      padding-bottom: 3rem; } }

.m-t-v_gap:not(.blogposts--container) > * {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-t-v_gap:not(.blogposts--container) > * {
      padding-top: 3rem; } }
  @media only screen and (min-width: 991px) {
    .m-t-v_gap:not(.blogposts--container) > * {
      padding-bottom: 3rem; } }

.m-t-v_gap.blogposts--container {
  padding-top: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-t-v_gap.blogposts--container {
      padding-top: 3rem; } }

.m-bt-v_gap:not(.blogposts--container) > * {
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-bt-v_gap:not(.blogposts--container) > * {
      padding-bottom: 3rem; } }

.m-bt-v_gap.blogposts--container {
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .m-bt-v_gap.blogposts--container {
      padding-bottom: 3rem; } }

.l-v_gap:not(.blogposts--container) > * {
  padding-top: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-v_gap:not(.blogposts--container) > * {
      padding-top: 7rem !important; } }
  @media only screen and (min-width: 991px) {
    .l-v_gap:not(.blogposts--container) > * {
      padding-bottom: 7rem !important; } }

.l-v_gap.blogposts--container {
  padding-top: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-v_gap.blogposts--container {
      padding-top: 7rem !important; } }
  @media only screen and (min-width: 991px) {
    .l-v_gap.blogposts--container {
      padding-bottom: 7rem !important; } }

.l-t-v_gap:not(.blogposts--container) > * {
  padding-top: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-t-v_gap:not(.blogposts--container) > * {
      padding-top: 7rem !important; } }

.l-t-v_gap.blogposts--container {
  padding-top: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-t-v_gap.blogposts--container {
      padding-top: 7rem !important; } }

.l-bt-v_gap:not(.blogposts--container) > * {
  padding-bottom: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-bt-v_gap:not(.blogposts--container) > * {
      padding-bottom: 7rem !important; } }

.l-bt-v_gap.blogposts--container {
  padding-bottom: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .l-bt-v_gap.blogposts--container {
      padding-bottom: 7rem !important; } }

.x-l-v_gap:not(.blogposts--container) > * {
  padding-top: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-l-v_gap:not(.blogposts--container) > * {
      padding-top: 14rem !important; } }
  @media only screen and (min-width: 991px) {
    .x-l-v_gap:not(.blogposts--container) > * {
      padding-bottom: 14rem !important; } }

.x-l-v_gap.blogposts--container {
  padding-top: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-l-v_gap.blogposts--container {
      padding-top: 14rem !important; } }
  @media only screen and (min-width: 991px) {
    .x-l-v_gap.blogposts--container {
      padding-bottom: 14rem !important; } }

.x-l-t-v_gap:not(.blogposts--container) > * {
  padding-top: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-l-t-v_gap:not(.blogposts--container) > * {
      padding-top: 14rem !important; } }

.x-l-t-v_gap.blogposts--container {
  padding-top: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-l-t-v_gap.blogposts--container {
      padding-top: 14rem !important; } }

.x-bt-v_gap:not(.blogposts--container) > * {
  padding-bottom: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-bt-v_gap:not(.blogposts--container) > * {
      padding-bottom: 14rem !important; } }

.x-bt-v_gap.blogposts--container {
  padding-bottom: 7rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    .x-bt-v_gap.blogposts--container {
      padding-bottom: 14rem !important; } }

.image-position-center {
  background-position: center; }
  .image-position-center img {
    object-position: center; }

.image-position-top-left {
  background-position: top left; }
  .image-position-top-left img {
    object-position: top left; }

.image-position-top-center {
  background-position: top center; }
  .image-position-top-center img {
    object-position: top center; }

.image-position-center-right {
  background-position: top right; }
  .image-position-center-right img {
    object-position: top right; }

.image-position-center-left {
  background-position: bottom left; }
  .image-position-center-left img {
    object-position: bottom left; }

.image-position-top-right {
  background-position: top right; }
  .image-position-top-right img {
    object-position: top right; }

.image-position-bottom-left {
  background-position: bottom left; }
  .image-position-bottom-left img {
    object-position: bottom left; }

.image-position-bottom-center {
  background-position: bottom center; }
  .image-position-bottom-center img {
    object-position: bottom center; }

.image-position-bottom-right {
  background-position: bottom right; }
  .image-position-bottom-right img {
    object-position: bottom right; }

.img-cover {
  background-size: cover;
  background-position: center; }
  .img-cover img {
    object-fit: cover; }

.img-original {
  background-size: none;
  background-position: center; }
  .img-original img {
    object-fit: none; }

.img-contain {
  background-size: contain;
  background-position: center; }
  .img-contain img {
    object-fit: contain; }

.img-fill {
  background-size: fill;
  background-position: center; }
  .img-fill img {
    object-fit: fill; }

.img-small {
  background-size: 100px auto; }
  .img-small img {
    width: 100px !important;
    height: auto !important; }

@media only screen and (max-width: 768px) {
  .img-cover {
    height: 100%;
    background-position: center bottom; }

  .img-original {
    height: 100%;
    background-position: center bottom; }

  .img-contain {
    height: 100%;
    background-position: center bottom; }

  .img-fill {
    height: 100%;
    background-position: center bottom; }

  .img-small {
    height: 100%;
    background-position: center bottom; } }
.img-cover {
  background-repeat: no-repeat;
  background-size: cover; }

.img-original {
  background-repeat: no-repeat; }

.img-contain {
  background-repeat: no-repeat;
  background-size: contain; }

.img-fill {
  background-repeat: no-repeat;
  background-size: fill; }

.small-slider .flickity-slider {
  height: 200px; }

.medium-slider .flickity-slider {
  height: 460px; }

.large-slider .flickity-slider {
  height: 70vh;
  min-height: 400px; }

.extra-large-slider .flickity-slider {
  height: 90vh;
  min-height: 600px; }

.fit-screen-slider .flickity-slider {
  height: 100vh; }

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important; } }
@media only screen and (min-width: 768px) {
  .small-slider .flickity-slider {
    height: 200px; }

  .medium-slider .flickity-slider {
    height: 460px; }

  .large-slider .flickity-slider {
    height: 70vh;
    min-height: 500px; }

  .extra-large-slider .flickity-slider {
    height: 85vh;
    min-height: 700px; } }
.account-page-content, .account-page-masthead, .announcement-bar-text, .announcement-bar-text-mobile, .article--container, .article-image--content-width, .atc-banner--outer, .blog--container, .blogposts--container, .breadcrumbs-container, .cart--section, .collection-list__container, .contact-page-content, .custom-html--container, .dynamic-video-wrapper, .featured-collection__container, .featured-product--container, .fourohfour--container, .highlights-banner__container.content-width, .highlights-banner__content, .image-with-text, .logolist--container, .menulist-container, .message-banner--outer, .navmenu-meganav-wrapper, .page-content, .page-masthead, .page__container, .pagination--container, .password-page-content--inner, .password-page-footer, .product--container, .product-row--container, .product-section--container, .productgrid--outer, .promo-grid--container, .promo-mosaic--container, .pxs-image-with-text-section, .pxs-map-section, .pxs-newsletter-section, .rich-text--container, .shoppable-image, .site-footer-item, .site-header-main, .site-navigation, .slideshow--width-content, .subcollections-banner__container, .subcollections-featured-collection__header, .subcollections__container, .testimonials-section, .twitter--container, .utility-bar__content {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  max-width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.slider-additional-gap .slideshow-slide__content {
  padding-bottom: calc(1.5rem + 140px) !important;
  padding-bottom: -webkit-calc(1.5rem + 140px) !important; }
  @media only screen and (min-width: 991px) {
    .slider-additional-gap .slideshow-slide__content {
      padding-bottom: calc(3rem + 140px) !important;
      padding-bottom: -webkit-calc(3rem + 140px) !important; } }

.blue-background {
  background-image: url(small-blue-background-quality.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .blue-background a, .blue-background p, .blue-background h1, .blue-background h2, .blue-background h3, .blue-background h4, .blue-background h5, .blue-background h6, .blue-background li {
    color: #fff !important; }

.white-background {
  background-color: #fff; }
  .white-background a, .white-background p, .white-background h1, .white-background h2, .white-background h3, .white-background h4, .white-background h5, .white-background h6, .white-background li {
    color: #001441 !important; }

.lightblue-background {
  background-color: #66D1FF; }
  .lightblue-background a, .lightblue-background p, .lightblue-background h1, .lightblue-background h2, .lightblue-background h3, .lightblue-background h4, .lightblue-background h5, .lightblue-background h6, .lightblue-background li {
    color: #001441 !important; }

.red-background {
  background-color: #F03524; }
  .red-background a, .red-background p, .red-background h1, .red-background h2, .red-background h3, .red-background h4, .red-background h5, .red-background h6, .red-background li {
    color: #fff !important; }

.transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) a, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) p, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h1, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h2, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h3, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h4, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h5, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) h6, .transparent-background *:not(.blue-background) .transparent-background *:not(.red-background) li {
  color: #001441 !important; }

.transparent-background {
  background-color: transparent !important; }

.promo-grid--container {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/**  homepage products carousel - testimonials **/
.testimonials-section {
  max-width: 100% !important;
  padding: 0 !important; }
  .testimonials-section .testimonial {
    height: 100%; }

.has-block-below {
  padding-bottom: 30px; }

.slideshow--width-full h2 {
  margin-top: 10px !important;
  margin-bottom: 30px !important; }
.slideshow--width-full .slideshow-slide__button {
  margin-top: 20px !important; }

.flickity-button {
  cursor: pointer;
  background: transparent !important; }
  .flickity-button.previous, .flickity-button.next {
    height: 40px;
    width: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .flickity-button svg {
    display: none !important; }

/************************************************/
.full-width-slide-carousel .data-slide-content {
  text-align: left; }

/********/
.products-carousel .flickity-viewport {
  height: auto !important; }
.products-carousel .flickity-page-dots {
  display: none; }
.products-carousel .testimonial {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 100vw; }
  .products-carousel .testimonial a {
    height: 100%; }
  .products-carousel .testimonial .testimonial__content {
    padding: 7em 2.7em 3.7em !important; }
  .products-carousel .testimonial .testimonial__image-container {
    max-width: 100% !important;
    overflow: hidden;
    height: 206px; }
    .products-carousel .testimonial .testimonial__image-container img {
      max-width: 100%;
      width: auto;
      object-fit: contain; }
  .products-carousel .testimonial p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: left; }
  .products-carousel .testimonial h6 {
    margin-top: 40px !important;
    margin-bottom: 5px !important;
    width: 100%;
    text-align: left; }
  .products-carousel .testimonial h4 {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: left; }
.products-carousel .flickity-button.previous {
  background-image: url(arrow-left.png) !important; }
.products-carousel .flickity-button.next {
  background-image: url(arrow-right.png) !important; }

.slideshow-pagination {
  display: none !important; }

.flickity-button {
  border-radius: 0;
  width: 17.624px;
  height: 39.5px;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer; }
  .flickity-button svg {
    display: none; }

/********************* slide types *************/
section.slideshow .flickity-slider .slideshow-slide {
  height: 100%; }
  section.slideshow .flickity-slider .slideshow-slide .slide-inner_wrapper {
    height: 100%; }
  section.slideshow .flickity-slider .slideshow-slide .slideshow-slide__image-wrapper {
    left: 0;
    height: 100%; }
section.slideshow .slideshow-slide__paragraph {
  margin-top: 25px !important; }
section.slideshow .slideshow-slide__button {
  margin-top: 50px !important; }
section.slideshow .flickity-button {
  cursor: pointer; }
  section.slideshow .flickity-button.previous, section.slideshow .flickity-button.next {
    height: 40px;
    width: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  section.slideshow .flickity-button.previous {
    background-image: url(arrow-left-white.png) !important;
    left: 2vw; }
  section.slideshow .flickity-button.next {
    background-image: url(arrow-right-white.png) !important;
    right: 2vw; }

.boxed-slider .slideshow-slide .slide-inner_wrapper {
  padding-left: 4vw !important;
  padding-right: 4vw !important;
  overflow-x: hidden;
  position: relative; }
  @media only screen and (min-width: 991px) {
    .boxed-slider .slideshow-slide .slide-inner_wrapper {
      padding-left: 2vw !important;
      padding-right: 2vw !important;
      max-width: 1408px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }
  @media only screen and (min-width: 1408px) {
    .boxed-slider .slideshow-slide .slide-inner_wrapper {
      padding-left: .5vw !important;
      padding-right: .5vw !important; } }
  .boxed-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__image-wrapper {
    overflow: hidden; }

.full-slider .slideshow-slide .slide-inner_wrapper {
  width: 100%;
  position: relative; }
  .full-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__image-wrapper img {
    min-width: 100vw !important; }
  .full-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__content {
    padding-left: 4vw !important;
    padding-right: 4vw !important; }
    @media only screen and (min-width: 991px) {
      .full-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__content {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        max-width: 1408px !important;
        margin-left: auto !important;
        margin-right: auto !important; } }
    @media only screen and (min-width: 1408px) {
      .full-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__content {
        padding-left: .5vw !important;
        padding-right: .5vw !important; } }

/********************* end slide types *************/
@media only screen and (min-width: 768px) {
  .products-carousel .testimonial {
    width: calc((100% - 40px) / 2) !important; }

  .products-carousel .flickity-button.previous {
    left: 4vw !important; }
  .products-carousel .flickity-button.next {
    right: 4vw !important; }

  .products-carousel .flickity-button.previous {
    left: 4vw !important; }
  .products-carousel .flickity-button.next {
    right: 4vw !important; }

  .boxed-slider .slideshow-slide .slide-inner_wrapper .slideshow-slide__content {
    padding: 3em !important; }

  .has-block-below {
    padding-bottom: 70px; } }
@media only screen and (max-width: 991px) {
  section.slideshow .flickity-slider .slideshow-slide .slideshow-slide__content {
    text-align: center !important; }
    section.slideshow .flickity-slider .slideshow-slide .slideshow-slide__content .slideshow-slide__button {
      margin-left: auto !important;
      margin-right: auto !important; }

  .products-carousel .flickity-button.previous, .products-carousel .flickity-button.next {
    background-color: #fff !important;
    padding: .9em !important;
    background-repeat: no-repeat !important;
    background-position: center !important; } }
@media only screen and (min-width: 991px) {
  .products-carousel .testimonial {
    width: calc((100% - 40px) / 3) !important; }
  .products-carousel .flickity-button.previous {
    left: -30px !important; }
  .products-carousel .flickity-button.next {
    right: -30px !important; } }
@media only screen and (min-width: 1216px) {
  .products-carousel .testimonial {
    width: calc((100% - 40px) / 4) !important; }
  .products-carousel .flickity-button.previous {
    left: -5vw !important; }
  .products-carousel .flickity-button.next {
    right: -5vw !important; } }
@media only screen and (min-width: 1408px) {
  section.slideshow .flickity-button.previous {
    left: 5vw !important; }
  section.slideshow .flickity-button.next {
    right: 5vw !important; } }
.site-header-full-width {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.announcement-bar-text {
  padding-left: 4vw !important;
  padding-right: 4vw !important;
  text-align: right; }
  @media only screen and (min-width: 991px) {
    .announcement-bar-text {
      padding-left: 2vw !important;
      padding-right: 2vw !important;
      max-width: 1408px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }
  @media only screen and (min-width: 1408px) {
    .announcement-bar-text {
      padding-left: .5vw !important;
      padding-right: .5vw !important; } }
  .announcement-bar-text > *:not(:last-child) {
    margin-right: 18px; }

.site-header-main {
  background-color: #001441;
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0; }
  .site-header-main .site-header-menu-toggle--button span {
    background-color: #00B1FF; }
  .site-header-main .site-logo {
    max-height: 100%; }
    .site-header-main .site-logo img {
      height: 65px !important;
      width: auto; }
  .site-header-main .site-navigation {
    background-color: #001441 !important; }
    .site-header-main .site-navigation .site-navigation .navmenu-depth-1 {
      margin-left: 0; }
  .site-header-main .site-header-main-content {
    justify-content: space-between;
    padding-left: 4vw !important;
    padding-right: 4vw !important;
    margin-right: auto;
    margin-left: auto;
    z-index: 1; }
    @media only screen and (min-width: 991px) {
      .site-header-main .site-header-main-content {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        max-width: 1408px !important;
        margin-left: auto !important;
        margin-right: auto !important; } }
    @media only screen and (min-width: 1408px) {
      .site-header-main .site-header-main-content {
        padding-left: .5vw !important;
        padding-right: .5vw !important; } }
  .site-header-main .site-header-desktop-menu-actions {
    display: flex;
    align-items: center; }
    .site-header-main .site-header-desktop-menu-actions .site-header-cart {
      position: relative;
      top: 0;
      bottom: auto;
      margin-top: 0;
      right: 0;
      margin-right: 5px; }
      .site-header-main .site-header-desktop-menu-actions .site-header-cart .site-header-cart--button {
        padding: 0; }
    .site-header-main .site-header-desktop-menu-actions .site-header-search {
      cursor: pointer; }
    .site-header-main .site-header-desktop-menu-actions img {
      height: 25px;
      width: auto; }

@media only screen and (min-width: 991px) {
  .site-header-main .site-navigation-wrapper {
    flex-wrap: nowrap; }
  .site-header-main .site-navigation {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: flex-end; }
    .site-header-main .site-navigation .navmenu-depth-1 {
      flex-wrap: nowrap;
      padding-top: 0;
      padding-bottom: 0; }
      .site-header-main .site-navigation .navmenu-depth-1 > li {
        padding-top: 0;
        padding-bottom: 0; }
        .site-header-main .site-navigation .navmenu-depth-1 > li a {
          display: flex;
          height: 85px;
          align-items: center; }
        .site-header-main .site-navigation .navmenu-depth-1 > li .navmenu-icon.navmenu-icon-depth-1 {
          top: 0;
          right: -5px; } }
@media only screen and (min-width: 991px) and (max-width: 380px) {
  .site-header-main .site-navigation {
    justify-content: space-between;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .site-header-main .site-navigation .navmenu-depth-2 li a {
      color: #01426c; }
    .site-header-main .site-navigation .navmenu-depth-2 > .navmenu-item-parent a {
      font-weight: 700;
      font-size: 2.5rem !important; }
    .site-header-main .site-navigation .navmenu-depth-2 > .navmenu-item-parent > .navmenu-item-parent a {
      font-weight: 700;
      font-size: 2.5rem !important; }
    .site-header-main .site-navigation .navmenu-depth-2 > .navmenu-item-parent ul {
      top: 0;
      left: 0;
      position: relative !important;
      width: 100%;
      margin-left: 0; } }
@media (max-width: 1550px) {
  header .site-navigation li {
    margin-right: 35px; } }
@media only screen and (min-width: 1216px) {
  .site-header-main .site-logo {
    width: 270px; }
  .site-header-main .site-navigation li {
    margin-right: 45px; } }
footer .site-footer-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0 !important; }
footer h2 {
  margin-bottom: 30px !important; }
footer .site-footer-item {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }
footer .site-footer-item:first-child {
  padding-top: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 4rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background: #001441; }
  @media only screen and (min-width: 991px) {
    footer .site-footer-item:first-child {
      padding-top: 7rem !important; } }
  @media only screen and (min-width: 991px) {
    footer .site-footer-item:first-child {
      padding-bottom: 7rem !important; } }
  footer .site-footer-item:first-child .site-footer-blocks {
    padding-left: 4vw !important;
    padding-right: 4vw !important; }
    @media only screen and (min-width: 991px) {
      footer .site-footer-item:first-child .site-footer-blocks {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        max-width: 1408px !important;
        margin-left: auto !important;
        margin-right: auto !important; } }
    @media only screen and (min-width: 1408px) {
      footer .site-footer-item:first-child .site-footer-blocks {
        padding-left: .5vw !important;
        padding-right: .5vw !important; } }
    footer .site-footer-item:first-child .site-footer-blocks .site-footer-block-item {
      margin-right: 0; }
  footer .site-footer-item:first-child .site-footer-block-item:nth-child(1) {
    display: flex;
    flex-direction: column; }
    footer .site-footer-item:first-child .site-footer-block-item:nth-child(1) .site-footer-block-content {
      order: 3; }
  footer .site-footer-item:first-child .site-footer-block-item:nth-child(2) .site-footer-block-content p:not(:last-child) {
    margin-bottom: 35px; }
  footer .site-footer-item:first-child .site-footer-block-item:nth-child(2) .site-footer-block-content a {
    display: block; }
  footer .site-footer-item:first-child .site-footer-block-item:last-child .site-footer-block-title {
    display: none !important; }
footer .form-fields-inline {
  display: block; }
footer .site-footer-item:last-child {
  background-color: #1A2C54; }
footer .site-footer-information {
  margin-top: 0;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 4vw !important;
  padding-right: 4vw !important; }
  @media only screen and (min-width: 991px) {
    footer .site-footer-information {
      padding-left: 2vw !important;
      padding-right: 2vw !important;
      max-width: 1408px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }
  @media only screen and (min-width: 1408px) {
    footer .site-footer-information {
      padding-left: .5vw !important;
      padding-right: .5vw !important; } }
  footer .site-footer-information .navmenu {
    display: none !important; }

@media only screen and (min-width: 991px) {
  footer .site-footer-item:first-child .site-footer-item {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  footer .site-footer-item:first-child .site-footer-blocks {
    justify-content: space-between !important;
    flex-wrap: wrap !important; }
    footer .site-footer-item:first-child .site-footer-blocks .site-footer-block-item {
      padding: 0;
      width: 20% !important;
      min-width: 280px !important; }
    footer .site-footer-item:first-child .site-footer-blocks .site-footer-block-item:not(:last-child) {
      margin-right: 70px; }
    footer .site-footer-item:first-child .site-footer-blocks .site-footer-block-item:last-child {
      margin-right: 0; }
    footer .site-footer-item:first-child .site-footer-blocks .site-footer-block-item:nth-child(3) {
      width: 280px; } }
.newsletter-submit {
  width: auto; }

.newsletter-submit button, .slideshow-slide__button, .button-primary, .btn-outline-dark {
  background-color: transparent !important;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .3em 1em !important;
  transition: all .4s ease-in-out;
  margin-top: 30px !important;
  width: fit-content !important;
  width: -moz-fit-content !important;
  width: intrinsic !important;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
  border-radius: 3px; }
  .newsletter-submit button::before, .slideshow-slide__button::before, .button-primary::before, .btn-outline-dark::before {
    display: none !important; }
  .newsletter-submit button::after, .slideshow-slide__button::after, .button-primary::after, .btn-outline-dark::after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    /*         margin-left: 9px;
            height: 14px;
            width: 18px; */
    margin-left: 15px;
    margin-top: 5px;
    height: 18px;
    width: 20px;
    background-color: transparent !important; }
  .newsletter-submit button:hover, .slideshow-slide__button:hover, .button-primary:hover, .btn-outline-dark:hover {
    border: 2px solid #fff !important;
    background-color: #fff !important;
    color: #00B1FF !important; }

.newsletter-submit button, .slideshow-slide__button, .button-primary {
  border: 2px solid #00B1FF;
  color: #fff; }
  .newsletter-submit button::after, .slideshow-slide__button::after, .button-primary::after {
    background-image: url("arrows-lightblue.png"); }
  .newsletter-submit button:hover, .slideshow-slide__button:hover, .button-primary:hover {
    border: 2px solid #fff !important;
    background-color: #fff !important;
    color: #00B1FF !important; }

.btn-outline-dark, [class*="button--secondary"] {
  border: 2px solid #01426c !important;
  color: #01426c !important; }
  .btn-outline-dark::after, [class*="button--secondary"]::after {
    background-image: url("arrows-darkblue.png"); }
  .btn-outline-dark:hover, [class*="button--secondary"]:hover {
    border: 2px solid #00B1FF !important;
    background-color: #00B1FF !important;
    color: #fff !important; }
    .btn-outline-dark:hover::after, [class*="button--secondary"]:hover::after {
      background-image: url("arrows-white.png"); }

.live-search-button {
  background-color: #001441;
  border: 2px solid #00B1FF; }
  .live-search-button circle {
    stroke: #00B1FF !important; }
  .live-search-button path {
    stroke: #00B1FF !important; }
  .live-search-button:hover {
    background-color: #00B1FF;
    border: 2px solid #00B1FF; }
    .live-search-button:hover circle {
      stroke: #001441 !important; }
    .live-search-button:hover path {
      stroke: #001441 !important; }

@media only screen and (max-width: 768px) {
  footer .button-primary {
    margin-top: 0 !important; } }
.newsletter form .form-field-title {
  display: none !important; }
.newsletter form .form-fields-inline {
  display: block !important; }
.newsletter form .newsletter-submit {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }
.newsletter form .newsletter-input {
  width: 100% !important;
  max-width: 300px !important;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

input {
  color: #01426c !important;
  font-size: 2.2rem !important;
  padding: .3em .5em !important;
  background-color: #fff;
  border: 0 !important;
  border-radius: 0 !important; }

input:not(header input) {
  height: 60px !important; }

/* second section */
.lightblue-element-bottom, .darkblue-element-bottom {
  position: relative; }
  .lightblue-element-bottom::after, .darkblue-element-bottom::after {
    content: '';
    display: block;
    background-position: top;
    background-size: cover;
    position: absolute;
    height: 27px;
    width: 100%;
    bottom: 0; }
  .lightblue-element-bottom > *:last-child > *:last-child, .darkblue-element-bottom > *:last-child > *:last-child {
    margin-bottom: 27px !important; }

.lightblue-element-bottom, .darkblue-element-bottom {
  bottom: 0; }

.lightblue-element-top, .darkblue-element-top {
  top: 0; }

.darkblue-element-bottom::after, .darkblue-element-top::after {
  background-image: url("darkblue-element.png"); }

.lightblue-element-bottom, .light-element-top {
  background-color: #00B1FF !important; }
  .lightblue-element-bottom::after, .light-element-top::after {
    background-image: url("lightblue-element.png"); }

main {
  padding-bottom: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 991px) {
    main {
      padding-bottom: 3rem; } }

section.slideshow {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

iframe {
  border: none !important;
  -webkit-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2); }

.article--excerpt-wrapper {
  box-shadow: none !important;
  border: 0 !important; }

/* search bar */
.search-input-block-outer {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #001441;
  top: 0;
  opacity: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all .4s ease-in-out;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; }
  .search-input-block-outer.active {
    opacity: 1;
    transform: translateY(0); }
  .search-input-block-outer .site-header-actions {
    margin-top: 0;
    margin-bottom: 0; }
  .search-input-block-outer .search-content-block-outer {
    width: 100%;
    padding-left: 4vw !important;
    padding-right: 4vw !important; }
    @media only screen and (min-width: 991px) {
      .search-input-block-outer .search-content-block-outer {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        max-width: 1408px !important;
        margin-left: auto !important;
        margin-right: auto !important; } }
    @media only screen and (min-width: 1408px) {
      .search-input-block-outer .search-content-block-outer {
        padding-left: .5vw !important;
        padding-right: .5vw !important; } }
  .search-input-block-outer .search-input-block {
    width: 100%;
    position: relative; }
    .search-input-block-outer .search-input-block .live-search {
      margin-right: 0; }
    .search-input-block-outer .search-input-block .close-button {
      position: absolute;
      height: 20px;
      width: 20px;
      display: inline-block;
      right: 0;
      top: -30px;
      cursor: pointer; }
      .search-input-block-outer .search-input-block .close-button::after {
        content: '✕';
        display: block;
        position: absolute;
        color: #fff;
        font-size: 15px;
        height: 20px;
        width: 20px;
        text-align: center; }

.promo-grid--section .img-with-logo .image-block, .promo-grid--section .full-img .image-block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
.promo-grid--section .promo-block--content-wrapper.btn-position-center {
  text-align: center; }
.promo-grid--section .promo-block--content-wrapper.btn-position-left {
  text-align: left; }
.promo-grid--section .promo-block--content-wrapper.btn-position-right {
  text-align: right; }
.promo-grid--section .promo-block--content-wrapper .title.txt-position-center, .promo-grid--section .promo-block--content-wrapper .promo-block--text.txt-position-center {
  text-align: center; }
.promo-grid--section .promo-block--content-wrapper .title.txt-position-left, .promo-grid--section .promo-block--content-wrapper .promo-block--text.txt-position-left {
  text-align: left; }
.promo-grid--section .promo-block--content-wrapper .title.txt-position-right, .promo-grid--section .promo-block--content-wrapper .promo-block--text.txt-position-right {
  text-align: right; }
.promo-grid--section .full-img {
  background-repeat: no-repeat; }
  .promo-grid--section .full-img .promo-block--content {
    padding: 3em !important; }
.promo-grid--section .logos-list {
  background-repeat: no-repeat; }
.promo-grid--section img {
  opacity: 1 !important; }
.promo-grid--section .img-top .promo-block--content {
  align-items: flex-start;
  flex-direction: column; }
.promo-grid--section .img-top .promo-block--content-wrapper {
  margin-top: 0 !important; }
.promo-grid--section .img-top .home-section--title {
  margin-bottom: 20px !important; }
.promo-grid--section .img-top .button-primary {
  margin-top: 35px !important; }
.promo-grid--section .img-top .image-block {
  width: 100%;
  text-align: center; }
  .promo-grid--section .img-top .image-block img {
    opacity: 1;
    position: relative !important;
    height: 227px;
    width: auto; }
.promo-grid--section .img-with-logo {
  position: relative;
  padding: 3em; }
  .promo-grid--section .img-with-logo .promo-block--content {
    padding: 0 !important; }
  .promo-grid--section .img-with-logo .promo-block--content-wrapper {
    position: absolute;
    max-width: 100%;
    max-width: 100%;
    left: 0;
    z-index: 1; }
  .promo-grid--section .img-with-logo .logo-block {
    display: block;
    position: absolute;
    z-index: 1;
    width: 35%;
    min-width: 150px;
    height: 45%;
    min-width: 180px;
    min-height: 180px;
    padding-right: 10px; }
    .promo-grid--section .img-with-logo .logo-block.img-small {
      display: flex; }
    .promo-grid--section .img-with-logo .logo-block img {
      width: 100%;
      height: 100%;
      opacity: 1; }
    .promo-grid--section .img-with-logo .logo-block.logo-mobile-hidden {
      display: none; }
    .promo-grid--section .img-with-logo .logo-block.logo-centered {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-center-top {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-left-top {
      top: 0;
      left: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-right-top {
      top: 0;
      right: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-center-bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-left-bottom {
      bottom: 0;
      left: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-right-bottom {
      bottom: 0;
      right: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-centered-mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-center-top-mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-left-top-mobile {
      top: 0;
      left: 0;
      transform: translateX(-50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-right-top-mobile {
      top: 0;
      right: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-center-bottom-mobile {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .promo-grid--section .img-with-logo .logo-block.logo-left-bottom-mobile {
      bottom: 0;
      left: 0; }
    .promo-grid--section .img-with-logo .logo-block.logo-right-bottom-mobile {
      bottom: 0;
      right: 0; }
    .promo-grid--section .img-with-logo .logo-block.img-small {
      justify-content: center;
      align-items: center;
      min-height: 50% !important; }
  .promo-grid--section .img-with-logo .image-block {
    position: relative;
    z-index: 0;
    width: 60%;
    min-width: 400px;
    min-width: none;
    height: 80%;
    background-repeat: no-repeat; }
    .promo-grid--section .img-with-logo .image-block img {
      opacity: 1;
      width: auto;
      height: auto; }

.promo-grid__columns--5 {
  grid-template-columns: repeat(1, 1fr) !important;
  grid-gap: 20px !important; }

.promo-grid__columns--3 {
  grid-template-columns: repeat(1, 1fr) !important; }

.promo-grid__columns--4 {
  grid-template-columns: repeat(1, 1fr) !important; }

.promo-grid__columns--2 {
  grid-gap: 0 !important; }

.txt-position-left {
  text-align: left; }

.txt-position-right {
  text-align: left; }

.txt-position-center {
  text-align: center; }

/** grid-container-2rows-col */
.grid-container-2rows-col {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  display: -moz-grid-group;
  display: -moz-grid-line;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-template-areas: 'title' 'content' 'video' 'button';
  align-items: start; }
  .grid-container-2rows-col .custom-title {
    grid-area: title; }
  .grid-container-2rows-col .content {
    grid-area: content; }
  .grid-container-2rows-col .btn {
    grid-area: button; }
  .grid-container-2rows-col .video-wrap {
    grid-area: video;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%; }
    .grid-container-2rows-col .video-wrap .fluid-width-video-wrapper {
      padding-top: 0 !important; }
    .grid-container-2rows-col .video-wrap iframe {
      position: relative;
      height: 400px !important;
      width: 100%;
      border: none !important;
      -webkit-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2); }

.item-top {
  margin-top: 0 !important; }

.grid-small-height {
  height: 150px !important;
  overflow: hidden; }
  .grid-small-height .promo-grid--inner {
    height: 100%; }

.grid-medium-height {
  height: 55vh;
  min-height: 480px; }
  .grid-medium-height .promo-grid--inner {
    height: 100%; }

.grid-large-height {
  height: 80vh !important; }
  .grid-large-height .promo-grid--inner {
    height: 100%; }

.grid-full-height {
  height: 100vh !important; }
  .grid-full-height .promo-grid--inner {
    height: 100%; }

@media only screen and (max-width: 768px) {
  .promo-grid--section .full-img .promo-block--content {
    align-items: center; }
  .promo-grid--section .promo-block--content {
    height: 100% !important;
    width: 100% !important; }
  .promo-grid--section .img-with-logo .image-block {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); } }
@media only screen and (min-width: 768px) {
  .grid-container-2rows-col .video-wrap iframe {
    width: 600px !important; }

  .promo-grid--section .img-top .promo-block--content {
    flex-direction: row; }
  .promo-grid--section .img-top .image-block {
    margin-right: 20px;
    margin-bottom: 0; }
  .promo-grid--section .img-with-logo .promo-block--content-wrapper.txt-v-position-center {
    top: 50%;
    transform: translateY(-50%); }
  .promo-grid--section .img-with-logo .promo-block--content-wrapper.txt-v-position-top {
    top: 0; }
  .promo-grid--section .img-with-logo .promo-block--content-wrapper.txt-v-position-bottom {
    bottom: 0; }
  .promo-grid--section .img-with-logo .image-block.image-position-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .promo-grid--section .img-with-logo .image-block.image-position-center-top {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); }
  .promo-grid--section .img-with-logo .image-block.image-position-left-top {
    top: 0;
    left: 0;
    transform: translate(0); }
  .promo-grid--section .img-with-logo .image-block.image-position-right-top {
    top: 0;
    left: 100%;
    transform: translateX(-100%); }
  .promo-grid--section .img-with-logo .image-block.image-position-center-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%, -100%); }
  .promo-grid--section .img-with-logo .image-block.image-position-left-bottom {
    top: 100%;
    left: 0;
    transform: translate(0, -100%); }
  .promo-grid--section .img-with-logo .image-block.image-position-right-bottom {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%); }

  .promo-grid__columns--4 {
    grid-template-columns: repeat() !important; }

  .promo-grid__columns--5 {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 90px; }

  .item-top {
    margin-top: -100px !important; }

  .grid-medium-height {
    height: 400px; }

  .grid-small-height {
    height: 120px !important; }

  .grid-large-height {
    height: 600px !important; } }
@media only screen and (min-width: 991px) {
  .promo-grid--section .img-top .promo-block--content {
    flex-direction: column; }
  .promo-grid--section .img-top .image-block {
    margin-right: 0;
    margin-top: 20px; }

  /** grid-container-2rows-col */
  .grid-container-2rows-col {
    grid-column-gap: 130px;
    grid-template-areas: 'title video' 'content video' 'button video'; }
    .grid-container-2rows-col .video-wrap {
      grid-area: video;
      margin-top: 0;
      margin-bottom: 0;
      width: 100% !important; }
      .grid-container-2rows-col .video-wrap iframe {
        width: 100% !important; }

  .promo-grid__columns--5 {
    grid-template-columns: repeat(5, 1fr) !important;
    grid-gap: 90px; }

  .promo-grid__columns--3 {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 90px !important; }

  .promo-grid__columns--4 {
    grid-template-columns: repeat(4, 1fr) !important; }

  .item-top {
    margin-top: -140px !important; }

  .grid-medium-height {
    height: 450px !important; }

  .grid-large-height {
    height: 700px !important; } }
.blogposts--count-3 .blogposts--inner, .blogposts--count-4 .blogposts--inner {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 20px;
  grid-auto-flow: column; }
.blogposts--count-3 .article--excerpt-wrapper, .blogposts--count-4 .article--excerpt-wrapper {
  width: 100%; }
.blogposts--count-3 .blogposts--footer, .blogposts--count-4 .blogposts--footer {
  display: none !important; }
.blogposts--count-3 .article-list-item a, .blogposts--count-4 .article-list-item a {
  height: 40vh !important;
  min-height: 350px; }
.blogposts--count-3 .article--excerpt-content, .blogposts--count-4 .article--excerpt-content {
  display: flex;
  flex-direction: column;
  padding: 3em 3em 0 !important;
  padding-top: 20px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important; }
  .blogposts--count-3 .article--excerpt-content h2, .blogposts--count-4 .article--excerpt-content h2 {
    font-size: 3.6rem !important;
    color: #01426c !important;
    text-align: left; }
  .blogposts--count-3 .article--excerpt-content .article--excerpt-readmore, .blogposts--count-4 .article--excerpt-content .article--excerpt-readmore {
    display: none; }
.blogposts--count-3 .article--excerpt-meta, .blogposts--count-4 .article--excerpt-meta {
  order: 3;
  text-align: left; }
  .blogposts--count-3 .article--excerpt-meta span, .blogposts--count-4 .article--excerpt-meta span {
    font-size: 2.2rem !important;
    color: #01426c !important; }

@media only screen and (min-width: 768px) {
  .blogposts--count-3 .blogposts--inner, .blogposts--count-4 .blogposts--inner {
    grid-auto-columns: repeat(2, 1fr); }
  .blogposts--count-3 .article-list-item a, .blogposts--count-4 .article-list-item a {
    height: 400px !important; } }
@media only screen and (min-width: 991px) {
  .blogposts--count-3 .blogposts--inner, .blogposts--count-4 .blogposts--inner {
    grid-auto-columns: repeat(4, 1fr); } }

/*# sourceMappingURL=bundle.css.map */
